@{
    ViewBag.Title = "ICMR Management Cases - Center of Excellence - IBS Hyderabad";
    ViewBag.MetaDescription = "ICMR, a center of excellence at IBS Hyderabad, is a premier case development center developing high-quality teaching cases in Management. ICMR case studies have found extensive usage around the world";
    ViewBag.MetaKeywords = "Center of Excellence, Management Case Study Repository, B-school case study method, quality management cases, award winning management cases, winner in global case writing competitions ";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "about-ibs-case-research-center";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="bg-body-tertiary p-4 rounded-4">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="Title-Heading">
                        <h2>
                            About IBS Case Research Center

                        </h2>
                    </div>

                    <ul class="text-justify">
                        <li>
                            <p>
                                The IBS Case Research Center (CRC) was established in the year 2000 with the vision of building one of the world’s
                                top case development centres in India. The Center has established itself as one of the top case development centers
                                in the world; both in terms of number of cases developed and usage by business schools and organizations. As of 2024,
                                it has more than 7000 cases all of which are in digital flipbook format. More than 900 B-schools from over 80 countries
                                use the CRC cases, with about 90% of them from outside India (mostly from Europe and North America). Some of the
                                leading Business Schools that use CRC cases include London Business School, London School of Economics, Oxford Said
                                Business School, Cambridge Judge Business School, HEC Paris, HEC Montreal, SDA Bocconi, etc. In India, top schools such
                                as IIMs, ISB, SP Jain, and Symbiosis, among others, use CRC case studies. Close to 300 CRC case studies have been
                                published in leading international textbooks.
                            </p>
                        </li>
                        <li>
                            <p>
                                CRC has conducted a number of workshops/FDPs/MDPs for organizations such as the National Academy of Defence Production,
                                TAPMI, IIM Ranchi, VIT Vellore, Banasthali Vidyapith, National Institute for Micro, Small and Medium Enterprises
                                (Ni-MSME), SBI, National Institute of Agricultural Extension Management (MANAGE) etc. Internationally, CRC has been
                                involved as facilitator/ chair/organizer in conducting professional development workshops (PDW) at the prestigious
                                AOM Annual Meetings in Boston, Philadelphia, Orlando, Anaheim, Vancouver, Atlanta, and Chicago. It also organizes an
                                International Case Study Conference to promote the use of the case method in pedagogy and to provide a platform for
                                case authors from India and abroad to interact and share their experiences/learnings.
                            </p>
                        </li>
                        <li>
                            <p>
                                CRC has won more than 180 national and international awards and prizes from institutions and organizations such as the
                                Academy of Management (AOM), Association of MBAs (AMBA), The Central and Eastern European Management Development
                                Association (CEEMAN), European Foundation for Management Development (EFMD), Emerald Group Publishing, NACRA, oikos
                                International (Switzerland), The Case Centre UK, John Molson School of Business (University of Concordia, Canada),
                                AESE Business School (Portugal), Project Management Institute (USA), Syracuse University (USA), USASBE - Baylor (USA)
                                and CEIBS (China), All India Management Association (India), K J Somaiya Institute of Management (India), Aligarh
                                Muslim University (India) and Steel Authority of India (SAIL). CRC has published many award-winning cases addressing
                                sustainable development goals (SDGs). Many CRC cases have been translated into other languages such as Spanish, Russian,
                                French, German, Chinese, Serbian, Portuguese and Arabic.
                            </p>
                        </li>
                        <li>
                            <p>
                                IBS CRC has eight of its authors featuring in The Case Centre’s (UK-based world’s largest repository of case studies)
                                Top 50 Bestselling Case Authors’ List for 2023-24. Among the Top 10 bestselling authors in the world, six are from IBS-CRC.
                                Other authors in the Top 50 list include professors from Harvard, INSEAD, IMD, Stanford, etc. CRC ranks second in the world,
                                next only to Harvard Business School, in The Case Centre Impact Index 2024 which ranks organizations based on the global reach
                                and impact of their case writing.
                            </p>
                        </li>

                    </ul>
                </div>
                <div class="col-xl-4 col-xl-4 col-md-4 col-12">
                    <div class="img-set mt-1 sticky-top1">
                        <img src="~/assets/img/about_crc.jpg" class="img-fluid rounded-4" alt="about case research center" loading="lazy" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h3>Faculty Profiles</h3>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/Sanjib_Dutta-1.jpg" width="120" height="120" class="rounded-4 img-fluid" alt="Sanjib Dutta">
                            </div>
                            <div>
                                <h5 class="mb-1"> Sanjib Dutta</h5>
                                <p>Associate Dean</p>
                            </div>
                        </div>

                        <p>
                            Sanjib is a mentor to many case writers across the country and
                            is passionate about the case method of teaching and research. He has served on
                            the jury in multiple case competitions in India ...
                        </p>
                        <div class="float-end">
                            <a href="~/profile-sanjib-dutta" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>


            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/indu.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Indu Perepu">
                            </div>
                            <div>
                                <h5 class="mb-1"> Indu Perepu</h5>
                                <p> Sr. Faculty Member</p>
                            </div>
                        </div>

                        <p>
                            Indu is a Sr. Faculty Member at the Case Research Center, IBS Hyderabad. She has been associated with
                            ICFAI for over 15 years. She has authored and co-authored more than 400 Case Studies ... ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/Jitesh-Nair-Edit-Photo.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Jitesh Nair">
                            </div>
                            <div>
                                <h5 class="mb-1"> Jitesh Nair</h5>
                                <p> Sr. Faculty Member</p>
                            </div>
                        </div>

                        <p class="">
                            Jitesh is currently associated with IBS-CRC as a Sr. Faculty Member. With a graduate degree in
                            Biotechnology and a post graduate management degree, he has worked in the industry ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/Syeda-Maseeha_Pic.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Syeda Maseeha Qumer">
                            </div>
                            <div>
                                <h5 class="mb-1"> Syeda Maseeha Qumer</h5>
                                <p> Adjunct Research Faculty</p>
                            </div>
                        </div>

                        <p>
                            Maseeha is an internationally recognized management case writer with 13 years of experience. She is currently
                            Adjunct Research Faculty at CRC. She started her career in case writing in ICFAI in 2008 ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/Namratha.gif" width="120" height="120" class="rounded-4 img-fluid" alt="V. Namratha Prasad">
                            </div>
                            <div>
                                <h5 class="mb-1"> V. Namratha Prasad</h5>
                                <p> Faculty Member</p>
                            </div>
                        </div>

                        <p>
                            Namratha has 15+ years of experience in the areas of research and content development. Namratha has worked for 10.5+ years at the
                            Case Research Center (CRC), IBS Hyderabad ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/koti.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Koti Vinod Babu">
                            </div>
                            <div>
                                <h5 class="mb-1"> Koti Vinod Babu</h5>
                                <p> Sr. Faculty Associate</p>
                            </div>
                        </div>

                        <p>
                            Vinod is an accomplished case study writer, credited with the
                            authorship of over 100 case studies. He is qualified in National Eligilibility Test (NET) in Management discipline ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/Anil-Anirudhan.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Anil Anirudhan">
                            </div>
                            <div>
                                <h5 class="mb-1"> Anil Anirudhan</h5>
                                <p> ASr. Faculty Associate</p>
                            </div>
                        </div>

                        <p>
                            Anil has over 21 years of experience and that includes 15 years in the industry in various sectors such as
                            financial services, logistics, health care, education and 6 years in the academic field in the areas of case study development ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/Munmun.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Munmun Samantarai
                                ">
                            </div>
                            <div>
                                <h5 class="mb-1">Munmun Samantarai</h5>
                                <p> Faculty Associate</p>
                            </div>
                        </div>

                        <p>
                            Munmun has more than a decade of experience in management education and research.
                            She is MBA (HR and Marketing) from ICFAI University- Dehradun, UGC-NET qualified and holds PhD degree ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-md-12 mb-6 g-4">
                <h3>Sr. Research Associate / Research Associate</h3>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/ikrama.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Syeda Ikrama">
                            </div>
                            <div>
                                <h5 class="mb-1">Syeda Ikrama</h5>
                                <p> Sr. Research Associate</p>
                            </div>
                        </div>

                        <p>
                            Syeda Ikrama has published over 50+ case studies, many of which have won awards and some of which are published in
                            reputed journals. She has a PhD in Business Management from Telangana University, India and an MBA and B.Com from
                            Osmania University (OU), India ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-2">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/Shewtha.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Shwetha Kumari">
                            </div>
                            <div>
                                <h5 class="mb-1"> Shwetha Kumari</h5>
                                <p> Sr. Research Associate</p>
                            </div>
                        </div>

                        <p>
                            Shwetha Kumari is working as Senior Research Associate at IBS Hyderabad from 7 years and pursuing PhD in Economics from
                            Christ University, Bangalore. Shwetha started her career in 2014, as a content developer K2 Learning Resources India
                            Pvt. Ltd ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-2">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/Bala-swmy.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Balaswamy P">
                            </div>
                            <div>
                                <h5 class="mb-1"> Balaswamy P</h5>
                                <p> Research Associate</p>
                            </div>
                        </div>

                        <p>
                            Balaswamy P is a Research Associate at IBS-CRC with about 9 years of experience in the business research domain.
                            He holds a postgraduate management degree from Loyola Academy, Hyderabad, India and has gained extensive expertise ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-2">

                <div class="card border-0 shadow">
                    <div class="card-body text-justify">
                        <div class="d-block d-md-flex  d-xl-flex  d-lg-flex   justify-content-start align-content-start mb-3">
                            <div class="me-3 mb-3">
                                <img src="~/assets/img/faculty-profiles/harsha.gif" width="120" height="120" class="rounded-4 img-fluid" alt="Sri Harsha">
                            </div>
                            <div>
                                <h5 class="mb-1"> Sri Harsha</h5>
                                <p> Research Associate</p>
                            </div>
                        </div>

                        <p>
                            Sri Harsha is currently associated with IBS-CRC as a Research Associate. He holds an MBA in Finance from Alliance
                            University in Bangalore and a B.Com from Acharya Nagarjuna University. With three years of experience in the finance
                            sector, ...
                        </p>
                        <div class="float-end">
                            <a href="#" class="btn btn-danger" target="_blank">
                                <i class="bi bi-arrow-up-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>