
@{
    ViewBag.Title = "AlumniSpeak";
    ViewBag.MetaDescription = "Introduction to Management, Bhopal Gas Tragedy Case Study, Global Business Environment, Apple Corporate Culture, Sales and Distribution Management, Strategic Management Case Studies, HR Case Studies, Marketing Strategy of Samsung, Harley Davidson Case Study, Google in China Case Study, Business Ethics Case Studies, Case Study on Consumer Behaviour, Sales and Distribution Cases, Free Management Case Studies, Free Case Studies, Indian Economy Introduction Cases, Marketing Case Studies, Short Case Studies, Case Studies on Sustainability, Enterprise Risk Management Case Studies, ICMR Case Studies,Contemporary Business Cases,Huawei Case studies,Accenture Case studies,Hyundai Case studies,Google Case studies,Amazon Case studies,UK Digital Case studies,OYO Case studies,Tata Case studies,Airtel Case studies,Paytm Case studies,Jaguar Case studies,Land Rover Case studies,Tesco Case studies,Bitcoin Case studies,Facebook Case studies,IndiaMart Case studies,Tesco Case studies,Moody's Case studies,Apple Case studies,Sanofi Case studies,Airbus Case studies,Monzo Case studies,IndiGo Case studies,Amazon Case studies,Bosch Case studies,Reliance Jio Case studies,BMW Case studies,Infosys Case studies,BMW Case studies,Infosys Case studies, Just in case Newsletter, Microfinance Institutions, Microfinance Case Studies, Microfinance case Study,Market Structure case studies, Microfinance Industry case studies,";
    ViewBag.MetaKeywords = "Introduction to Management, Bhopal Gas Tragedy Case Study, Global Business Environment, Apple Corporate Culture, Sales and Distribution Management, Strategic Management Case Studies, HR Case Studies, Marketing Strategy of Samsung, Harley Davidson Case Study, Google in China Case Study, Business Ethics Case Studies, Case Study on Consumer Behaviour, Sales and Distribution Cases, Free Management Case Studies, Free Case Studies, Indian Economy Introduction Cases, Marketing Case Studies, Short Case Studies, Case Studies on Sustainability, Enterprise Risk Management Case Studies, ICMR Case Studies,Contemporary Business Cases,Huawei Case studies,Accenture Case studies,Hyundai Case studies,Google Case studies,Amazon Case studies,UK Digital Case studies,OYO Case studies,Tata Case studies,Airtel Case studies,Paytm Case studies,Jaguar Case studies,Land Rover Case studies,Tesco Case studies,Bitcoin Case studies,Facebook Case studies,IndiaMart Case studies,Tesco Case studies,Moody's Case studies,Apple Case studies,Sanofi Case studies,Airbus Case studies,Monzo Case studies,IndiGo Case studies,Amazon Case studies,Bosch Case studies,Reliance Jio Case studies,BMW Case studies,Infosys Case studies,BMW Case studies,Infosys Case studies, Just in case Newsletter, Microfinance Institutions, Microfinance Case Studies, Microfinance case Study,Market Structure case studies, Microfinance Industry case studies,";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "case-resources/video/alumni-speak";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Case Resources</li>
                        <li>Video</li>
                        <li>Alumni Speak</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container bg-container shadow-sm">

        <h2 class="mb-3">Alumni Speak</h2>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                <iframe class="iframCard"
                        src="https://www.youtube.com/embed/o45BJGj3xqg"> </iframe>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                <iframe class="iframCard"
                        src="https://www.youtube.com/embed/MexfBjEh3EA"> </iframe>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                <iframe class="iframCard"
                        src="https://www.youtube.com/embed/99pRMWAjLuI"> </iframe>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                <iframe class="iframCard"
                        src="https://www.youtube.com/embed/tSFFJzI61Ko"> </iframe>
            </div>
            <div class="col-xl-4  col-lg-4 col-md-6 col-12 mb-3">
                <iframe class="iframCard"
                        src="https://www.youtube.com/embed/Q8P-ZgR2-NM"> </iframe>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                <iframe class="iframCard"
                        src="https://www.youtube.com/embed/kpOBBBKPViA"> </iframe>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                <iframe class="iframCard"
                        src="https://www.youtube.com/embed/l137x-1I3Z8"> </iframe>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                <iframe class="iframCard"
                        src="https://www.youtube.com/embed/pGMBYGuuu8g"> </iframe>
            </div>

        </div>
    </div>
</section>
