@{
    ViewBag.Title = "Banking & Financial Services - ICMR Industry Case Pack Collection";
    ViewBag.MetaDescription = "Banking & Financial Services - ICMR Industry Case Pack Collection";
    ViewBag.MetaKeywords = "Banking &amp; Financial Services - ICMR Industry Case Pack Collection, Tamilnad Mercantile Bank, Saudi British Bank, HSBC, Saudi Arabian, Sandy Weill, Citigroup Turnaround, Indian Bank Sun Life, Financial Services Zurich, Financial Services, Prudential Financial Inc, American International Group Inc, State Bank, Competitive Strategies, Market Leader Acquisition Bid, UFJ Holdings, HSBC, Restructuring, Morgan Stanley, Dean Witter Merger Tug, Gesco Corporation, Governance Problems in Citigroup Japan CSR, HSBC Charles Schwab, Online Trading Applications Plastic Money, NASDAQ, Security Transaction Merrill Lynch, IT, Charles Schwab, Customer, E-Business Strategy, Knowledge Sharing, World";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "other-products/case-studies-pack/banking-and-financial-services";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Other Products</li>
                        <li>Case Studies Pack</li>
                        <li>Banking and Financial Services</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="bg-body-tertiary p-4 rounded-4">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="Title-Heading">
                        <h2>
                            Banking & Financial Services Industry Case Pack
                        </h2>
                    </div>
                    <p class="text-justify">
                        The IBS Case Research Center (CRC) was established in the year 2000 with the vision of building one of the world’s
                        top case development centres in India. The Center has established itself as one of the top case development centers
                        in the world; both in terms of number of cases developed and usage by business schools and organizations. As of 2024,
                        it has more than 7000 cases all of which are in digital flipbook format. More than 900 B-schools from over 80 countries
                        use the CRC cases, with about 90% of them from outside India (mostly from Europe and North America). Some of the
                        leading Business Schools that use CRC cases include London Business School, London School of Economics, Oxford Said
                        Business School, Cambridge Judge Business School, HEC Paris, HEC Montreal, SDA Bocconi, etc. In India, top schools such
                        as IIMs, ISB, SP Jain, and Symbiosis, among others, use CRC case studies. Close to 300 CRC case studies have been
                        published in leading international textbooks.
                    </p>

                </div>
                <div class="col-xl-4 col-xl-4 col-md-4 col-12">
                    <div class="img-set mt-1  sticky-top1">
                        <img src="~/assets/img/banking-finace.jpg" class="img-fluid rounded-4" alt="banking-finace" loading="lazy" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="card border-0 shadow-sm bg1">
                    <div class="card-body">
                        <h4>Note</h4>
                        <ol>
                            <li>To order the Industry Pack online, click on the Buy now button and select the Industry Pack from the list of available Industry Packs.</li>
                            <li>
                                For Indian Orders, the Industry Packs will be sent through courier. Courier charges will be Rs. 200/- per Industry Pack.
                                Please allow 5 to 10 business days for delivery.
                            </li>
                            <li>For International Orders, the Industry Packs will be sent through Courier. Courier charges will be  Rs. 1000/- per Industry Pack. Delivery may take upto 15 days, depending on the destination.</li>
                            <li>For prices and delivery charges for custom and bulk orders, please write to us at <a href="mailto:info@icmrindia.org" class="text-danger">info@icmrindia.org</a></li>
                        </ol>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
<section data-aos="fade-up">

    <div class="container shadow-sm bg3 rounded-4">
        <div class="row p-4">
            <div class="col-xl-12">
                <h3 class="mb-3">Banking & Financial Services Industry Cases</h3>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingsix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                Banking & Financial Services Industry Cases 2006
                            </button>
                        </h2>
                        <div id="collapsesix" class="accordion-collapse collapse show" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p><a href="#"> The Morgan Stanley - Dean Witter Merger</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2006
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingseven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                Banking & Financial Services Industry Cases 2005
                            </button>
                        </h2>
                        <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p><a href="#"> HSBC's Restructuring in India</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2005
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p><a href="#"> CSR Initiatives at HSBC</a></p>
                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2005
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">JP Morgan Chase-IBM - The Outsourcing Journey </a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2005
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The Rise and Fall of Global Trust Bank</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2005
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">SBI's Microfinance Initiatives </a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2005
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Governance Problems at Morgan Stanley </a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2005
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Organization Culture at Goldman Sachs </a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2005
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">An industry note - Banking in India - Issues and Challenges for the Future </a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2005
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingeight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                                Banking & Financial Services Industry Cases 2004
                            </button>
                        </h2>
                        <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p><a href="#">The Acquisition Bid for UFJ Holdings</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p><a href="#">State Bank of India - Competitive Strategies of a Market Leader</a></p>
                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The Turnaround of Indian Bank</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Sandy Weill and Citigroup </a></p>
                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Governance Problems in Citigroup Japan</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Knowledge Sharing Initiatives at the World Bank - Creating a Knowledge Bank</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Charles Schwab Customer Focused E-Business Strategy </a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Merrill Lynch's IT Initiatives </a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Securities and Exchange Board of India - Role as a Regulator</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Daiwa Bank - Lessons in Risk Management</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Allied Irish Banks - The Currency Derivatives Fiasco</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Derivatives Trading in India</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The Fall of Barings Bank</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The CRB Scam</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Warren Buffett - The Investment Guru</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Innovations in the Banking Industry in India</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2004
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingnine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                Banking & Financial Services Industry Cases 2003
                            </button>
                        </h2>
                        <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p><a href="#"> Zurich Financial Services</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2003
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p><a href="#">Saudi British Bank - HSBC's Saudi Arabian Experience</a></p>
                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2003
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Co-operative Bank Scams in India</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2003
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The Indian Housing Finance Industry At Crossroads</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2003
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Fannie Mae's Human Resource Management Policies</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2003
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>





                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingten">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
                                Banking & Financial Services Industry Cases 2002
                            </button>
                        </h2>
                        <div id="collapseten" class="accordion-collapse collapse" aria-labelledby="headingten" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">American International Group Inc.</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Prudential Financial Inc.</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Sun Life Financial Services</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The Tamilnad Mercantile Bank Story</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The Tug of War Over Gesco Corporation</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">NASDAQ's Securing Security Transaction</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Plastic Money - The Indian Experience</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Charles Schwab - Expanding Online Trading Applications</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Buyback of Shares and MNCs</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Film Insurance & Financing in India</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The Ketan Parekh Scam</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The ITC Classic Story</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">The GTB - UTI Bank Merger</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p> <a href="#">Change Management &#x40; ICICI</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2002
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>






                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingeleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
                                Banking & Financial Services Industry Cases 2001
                            </button>
                        </h2>
                        <div id="collapseeleven" class="accordion-collapse collapse" aria-labelledby="headingeleven" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-xl-4 mb-2 g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-secondary-emphasis mb-1">Case Title</small>
                                                        <p><a href="#"> The State Bank of India VRS</a></p>

                                                    </blockquote>
                                                    <figcaption class="blockquote-footer mt-2">
                                                        Published in - 2001
                                                    </figcaption>
                                                </figure>
                                                <a class="btn btn-primary btn-danger" href="#" role="button"><i class="bi bi-arrow-up-right text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



