@{
    ViewBag.Title = "Work with Us - Careers at ICMR - Case Research Center Recruitment";
    ViewBag.MetaDescription = "IBS Hyderabad invites outstanding research professionals to join the intellectual pool at its globally acclaimed Case Research Center for business research";
    ViewBag.MetaKeywords = "careers at icmr, recruitment at IBS CRC, Case Research Center Recruitment";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "careers";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>
                            Careers
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="bg-body-tertiary p-4 rounded-4">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="Title-Heading">
                        <h2 class="">
                            Work with Us
                        </h2>
                        <h4 class="">Current Openings</h4>
                    </div>
                    <p class="text-justify">
                        IBS Hyderabad, established in 1995, is a constituent of the ICFAI Foundation for Higher
                        Education. IBS is consistently ranked amongst the top B-schools in India.
                    </p>
                    <p class="text-justify">
                        IBS Hyderabad is prominent among the institutes engaged in case research and development
                        in Asia. IBS Case Research Center is among the major contributors of case studies to The Case Centre (ecch) one of the
                        largest global repositories of case studies.
                    </p>
                    <p class="text-justify">
                        IBS CRC Cases have won several international awards and are reprinted in prominent
                        international text books. Case studies developed at IBS are used by B-schools and organizations across the globe.
                    </p>
                    <p class="text-justify">
                        IBS Hyderabad invites outstanding research professionals to join the intellectual pool at
                        its globally acclaimed Case Research Center.
                    </p>
                    <p class="text-justify"><medium class="text-danger fw-bold"> Qualification:</medium> Masters in Management & Allied Disciplines.</p>
                    <p class="text-justify">
                        <medium class="text-danger fw-bold"> Experience:</medium>  1-3 years of
                        experience in business research. Those with higher experience may be considered for higher positions. Fresher’s
                        with outstanding academic record & writing skills will be also considered.
                    </p>
                    <p class="text-justify">Interested candidates may send their resume to <medium class="text-danger fw-bold"><i class="bi bi-envelope-fill"></i> : <a class="text-danger fw-bold" href="mailto:crcrecruitment@ibsindia.org">crcrecruitment@ibsindia.org</a></medium></p>
                </div>
                <div class="col-xl-4 col-xl-4 col-md-4 col-12">
                    <div class="img-set mt-1 sticky-top1">
                        <img src="~/assets/img/careers.jpg" class="img-fluid rounded-4" alt="careers" loading="lazy" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
