@{
    ViewBag.Title = "Case Mapping to Curriculum - ICMR Case Studies";
    ViewBag.MetaDescription = "ICMR offers varieties of case studies to business schools where all these case studies are properly mapped for management subjcets. Individuals can leave a query for more details.";
    ViewBag.MetaKeywords = "case mapping to curriculum";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "case-mapping-to-curriculum";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Services</li>
                        <li>Case Mapping to Curriculum</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 mx-auto">
                <h3>Case Mapping to Curriculum</h3>
                <h6 class="mb-3">Please leave your message to get more details about "Case Mapping to Curriculum":</h6>
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-10 mx-auto">
                                <div class="mb-3">
                                    <label for="name" class="form-label mb-1">Your Name</label>
                                    <input type="text" class="form-control" id="name" name="Name" placeholder="Name" size="25" maxlength="50">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label mb-1">Email address</label>
                                    <input type="email" name="Email Address" class="form-control" id="email" placeholder="Email" size="25" maxlength="50">
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label mb-1">Your Telephone</label>
                                    <input type="tel" id="phone" class="form-control" name="Telephone No" placeholder="Telephone" size="25" maxlength="50">

                                </div>
                                <div class="mb-3">
                                    <label for="Message" class="mb-1">Your Message</label>
                                    <textarea class="form-control" placeholder="Message" name="Message" id="Message" cols="24" rows="6"></textarea>

                                </div>
                                <div class="text-end mb-2">
                                    <input type="submit" class="btn btn-danger" value="Submit" name="Submit">
                                </div>
                                <p>For more details, please write a mail to <strong><a class="text-danger" href="mailto:casehelpdesk@ibsindia.org">casehelpdesk@ibsindia.org</a></strong></p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

