@{
    ViewBag.Title = "ICMR India Case Subscription Model";
    ViewBag.MetaDescription = "IBS Center for Management Research (ICMR) offers a subscription model for the purchase of case studies.";
    ViewBag.MetaKeywords = "purchase case studies, subscription model, subscription and discount, corporate training, classroom discussion";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "services/licensing/case-subscription";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Services</li>
                        <li>Licensing</li>
                        <li>Case Subscription</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">

        <div class="bg-body-tertiary p-4 rounded-4">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-6 col-12">
                    <div class="Title-Heading">
                        <h2>Case Subscription Model</h2>
                    </div>
                    <p>IBS Center for Management Research (ICMR) offers a subscription model for the purchase of case studies. At present, we are offering two subscription options.</p>
                    <div class="text-justify">
                        <h4>Subscription Options</h4>
                        <h5>Option A: Six-months Subscription (Suitable for Individuals)</h5>
                        <p>In this option, you can become a registered member to ICMR’s site with an initial subscription amount of Rs. 50,000 (Fifty Thousand Only). This membership is valid for a period of one year during which you can access and buy case studies worth Rs. 50,000 at a discount of 10% on the list price of each case study. The account will become inactive once the member purchases Rs. 50,000 worth of cases at a discounted price or after one year, whichever is earlier. Then the member needs to renew the account by paying additional subscription fee of Rs. 50,000.</p>
                        <h5>Option B: One Year Subscription (Suitable for Corporate Libraries)</h5>
                        <p>In this option, you can become a registered member to ICMR’s site with an initial subscription amount of Rs. 50,000 (Fifty Thousand Only). This membership is valid for a period of one year during which you can access and buy case studies worth Rs. 50,000 at a discount of 10% on the list price of each case study. The account will become inactive once the member purchases Rs. 50,000 worth of cases at a discounted price or after one year, whichever is earlier. Then the member needs to renew the account by paying additional subscription fee of Rs. 50,000.</p>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="img-set mt-1 sticky-top1">
                        <img src="~/assets/img/Case-Subscription-Model.jpg" class="img-fluid rounded-4" alt="Case Subscription" loading="lazy">
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h3>Terms and Conditions</h3>
                        <ol>
                            <li class="mb-1">Subscription will be valid for either six months or one year, depending on the option chosen by the customer.</li>
                            <li class="mb-1">The subscription model is open for the customers buying individual or multiple copies of cases only.</li>
                            <li class="mb-1">E-mail alerts will be sent to the customer’s e-mail id as and when new uploads of case studies to the website are made.</li>
                            <li class="mb-1">The customer will be eligible for a discount on any new case uploads on the ICMR’s website during the subscription period.</li>
                            <li class="mb-1">During the subscription period, the customer will not be charged higher in case of any upward price revisions undertaken by the management.</li>
                            <li class="mb-1">Once the payment is made, the customer will be given a user id and a password, which will get activated within three working days.</li>
                            <li class="mb-1">Replacement requests of case studies by a customer once they are downloaded from the site will not be entertained.</li>
                            <li class="mb-1">The distribution of the case studies in any form (digital, blog, intranet etc). is not allowed.</li>
                            <li class="mb-1">Corporate customers are requested to get in touch with ICMR (<a href="mailto:casehelpdesk@ibshyderabad.org" class="text-danger">casehelpdesk@ibshyderabad.org</a>) for using any of our case studies in corporate training programs or putting the same on their intranet for which they need to pay separate charges.</li>

                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
