@{
    ViewBag.Title = "ICMR Case Writing Workshops | Develop Your Case Writing Skills";
    ViewBag.MetaDescription = "Enhance your case writing skills with ICMR's case writing workshops. Our workshops are designed to help you develop a structured approach to writing effective case studies. Learn from experienced case writers and gain practical insights into the case writing process";
    ViewBag.MetaKeywords = "case writing workshops, case study writing workshops, teaching with cases, icmr case writing workshop, case teaching workshop, how to teach a case";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "case-writing-workshops";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Case Writing Workshops</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="mb-3">Case Writing and Case Teaching Workshops</h2>
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body">
                        <p class="mb-2 text-justify">Teaching with case studies is a popular tool adopted by various leading B Schools as well as corporate and government training sectors, from which participants can face real-time business dilemmas and get real-world business scenarios which leads to develop their problem-solving and decision-making skills. Both the case writing and case teaching methods are very useful for management faculties, case writers, research scholars and independent researchers from the academics across the management areas as well as the training departments from corporate and the Government sectors.</p>
                        <p class="text-justify">For more details, please write a mail to: <a href="mailto:casehelpdesk@ibsindia.org" class="text-danger fw-medium">casehelpdesk@ibsindia.org</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


