@{
    ViewBag.Title = "ICMR - Contact Us - Customer Support";
    ViewBag.MetaDescription = "for any kind of support, please contact with us";
    ViewBag.MetaKeywords = "ICMR India, Contact us, customer query, customer support";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "contact-us";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Contact Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="bg-body-tertiary p-4 rounded-4">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-3">

                            <div class="Title-Heading">
                                <h2 class="title">Contact</h2>
                            </div>
                            <div class="contact">
                                <div class="row gy-4">
                                    <div class="col-lg-12 col-12">
                                        <div class="info-box mb-4">
                                            <i class="bi bi-geo-alt"></i>
                                            <h4>Address</h4>
                                            <p>
                                                The ICFAI Foundation for Higher Education (IFHE),
                                                Hyderabad
                                                Donthanapally, Shankarapalli Road
                                                Hyderabad - 501203, Telangana, India.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="info-box  mb-4 ">
                                            <i class="bi bi-envelope"></i>
                                            <h4>Email Us</h4>
                                            <p><a href="mailto:casehelpdesk@ibsindia.org">casehelpdesk@ibsindia.org</a></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="info-box  mb-4">
                                            <i class="bi bi-telephone-outbound"></i>
                                            <h4>Call Us</h4>
                                            <p>Toll Free:+91 9640901313</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 ">
                            <div class="img-set mt-1 sticky-top1">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10767.126522217191!2d78.21674648701446!3d17.42358514003159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcbec0ea5ea4f91%3A0x7a11b92963ba3ece!2sICFAI%20Foundation%20Of%20Higher%20Education%20(IFHE)%20University!5e0!3m2!1sen!2sbg!4v1623754137045!5m2!1sen!2sbg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="w-100 iframe-section">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf3QoYy3UYUq9vdV8RIJrm1WuqC0WthhlmQBnl9DjyE26LbXA/viewform?embedded=true" width="950" height="1200" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

                </div>
            </div>
        </div>
    </div>
</section>