@{
    ViewBag.Title = "Customized Case Studies Development - ICMR";
    ViewBag.MetaDescription = "ICMR develops customized case studies for government / non-government organizations and corporates. Once the order is generated, ICMR will undertake primary/secondary research and develop the case study";
    ViewBag.MetaKeywords = "customized cases, customized case studies, ICMR customized cases, case studies on demand";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "customized-case-studies";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Customized Case Studies</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="mb-3">
                    Customized Case Studies
                </h2>
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body">
                        <p class="mb-2">ICMR develops customized case studies for government / non-government organizations and corporates. Once the order is generated, ICMR will undertake primary/secondary research and develop the case study. Please send an e-mail to <a href="mailto:casehelpdesk@ibsindia.org" class="text-danger">casehelpdesk@ibsindia.org</a> to place a query.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>