@{
    ViewBag.Title = "ICMR - Disclosure";
    ViewBag.MetaDescription = "All visitors to this site are advised to read the Disclosure carefully and understand the contents clearly. If they do not understand the Disclosure and/or do not agree with the same, they are requested not to proceed further";
    ViewBag.MetaKeywords = "ICMR - Disclosure";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "disclosure";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Disclosure</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="mb-2">Disclosure</h2>
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body text-justify">
                        <p>All visitors to this site are advised to read the Disclosure carefully and understand the contents clearly. If they do not understand the Disclosure and/or do not agree with the same, they are requested not to proceed further, not to view the contents of this website and not to take any decisions based on the information.</p>
                        <p>
                            The ICFAI FOUNDATION FOR HIGHER EDUCATION (IFHE) comprising IBS Hyderabad, is declared as a ‘Deemed-to-be-University’ under Section 3 of the UGC Act 1956. IBS Center for Management Research (ICMR) is a constituent of IFHE. IFHE is a non-profit society under the A.P. (Telangana Area) Public Societies Act 1350F (Act 1 of 1350F). It is also the owner of the trademarks like IBS Center for Management Research (ICMR) etc. IFHE is a licensed user of these trademarks, service marks and trade names. All other trademarks and logos appearing in this website belong to their respective owners and are duly acknowledged as such.
                        </p>
                        <p>This website does not create a binding contract between IBS Center for Management Research and the visitors of the site. The information provided in this website is an indication of ICMR's plans on the date of updation of this website. Details may be modified from time to time for administrative and operational reasons.</p>
                        <p>This website is designed to provide with information on the magazines, journals, books, and articles published by IBS Center for Management Research. Neither IBS Center for Management Research nor any third party assumes any liability of any kind to any persons from providing this information whether or not such persons rely on it and even if they inform IBS Center for Management Research of their reliance on it.</p>
                        <p>
                            The linked sites are not under IBS Center for Management Research control and IBS Center for Management Research is not responsible for the contents of any linked site or any link contained in a linked site, or any changes or updates to such sites. IBS Center for Management Research is providing these links to the visitors as a convenience, and the inclusion of any link does not imply endorsement by IBS Center for Management Research of the site.
                        </p>
                        <p>IBS Center for Management Research hereby expressly disclaims any implied warranties imputed by the laws of any jurisdiction. IBS Center for Management Research considers itself and intends to be subject to the jurisdiction only of the courts of the city of Hyderabad, India.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>