
@{
    ViewBag.Title = "EventPage";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "event-details-page";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Event</li>
                        <li>Event Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container bg-container shadow-sm">
        <div class="row">

            <div class="col-xl-8 col-lg-8 col-md-8 col-12">

                <div class="Title-Heading" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="title"><i class="bi bi-megaphone"></i> Event Details</h2>
                </div>
                <ul class="d-flex list-type-none" style="list-style-type:none;padding-left:0" data-aos="fade-up">
                    <li class="me-4">
                        <i class="bi bi-clock"></i>  Apr 04, 2025
                    </li>
                </ul>
                <h3 data-aos="fade-up">
                    ICFAI Business School Wins John Molson MBA ICC Case Writing Competition
                </h3>
                <p class="text-secondary" data-aos="fade-up">
                    43rd edition 2025!
                </p>
                <a data-aos="fade-up" class="btn btn-warning" href="#" target="_blank">
                    View More
                </a>

                @*<a data-aos="fade-up" class="btn btn-warning" href="https://ifheindia.org/icfai-business-school-hyderabad/icbf-2025" target="_blank">
                        Conference
                    </a>

                    <a data-aos="fade-up" class="btn btn-warning" href="https://ifheindia.org/conference/icbf2025/icbf2025.aspx" target="_blank">
                        Registration
                    </a>*@

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 m-auto" data-aos="fade-up">

                <img src="/assets/img/news/EFMD.jpg" alt="John Molson MBA ICC Case Writing Competition" class="img-fluid">
            </div>

        </div>
    </div>
</section>





