
@{
    ViewBag.Title = "EventPage";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "event";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Event</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="events-container" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 mb-3">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">
                        <div>
                            <img src="~/assets/img/news/EFMD.jpg" alt="events-img" class="img-fluid" fetchpriority="low">

                        </div>

                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid cal-icon" src="~/assets/svg-icons/calendar.png" width="20" height="20" alt="calendar" loading="lazy">
                            <span class="ms-2">March 21 - 22, 2025 </span>
                        </p>

                        <p class="card-title">ICFAI Business School Wins John Molson MBA ICC Case Writing Competition, 43rd edition 2025! </p>

                        <div>
                            <a class="event-btn float-end" href="~/event-details-page" target="_blank">
                                <i class="bi bi-arrow-right"></i>
                                <span class="visually-hidden">View event details</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mb-3">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">

                        <img src="~/assets/img/news/bestselling-1.jpg" alt="events-img" class="img-fluid" fetchpriority="low">
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid cal-icon" src="~/assets/svg-icons/calendar.png" width="20" height="20" alt="calendar" loading="lazy">
                            <span class="ms-2">2024 </span>
                        </p>
                        <p class="card-title">IBS Cases Soar to New Heights 22 Cases in The Case Centre's 2024 Bestselling Cases </p>

                        <div>
                            <a class="event-btn float-end" href="#" target="_blank">
                                <i class="bi bi-arrow-right"></i>
                                <span class="visually-hidden">View event details</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mb-3">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">
                        <img src="~/assets/img/news/bestselling.jpg" alt="events-img" class="img-fluid" fetchpriority="low">
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid cal-icon" src="~/assets/svg-icons/calendar.png" width="20" height="20" alt="calendar" loading="lazy">
                            <span class="ms-2">2024 </span>
                        </p>
                        <p class="card-title"> IBS Hyderabad features prominently in The Case Centre's Centre's Top 50 Bestselling Case Authors list, 2023/24</p>
                        <div>
                            <a class="event-btn float-end" href="#" target="_blank">
                                <i class="bi bi-arrow-right"></i>
                                <span class="visually-hidden">View event details</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            @*<div class="col-xl-4 col-lg-4 col-md-4 mb-3">
                    <div class="card border-0 shadow h-100">
                        <div class="card-body">
                            <img src="~/assets/img/news/case-centre.jpg" alt="events-img" class="img-fluid"   fetchpriority="low">
                            <p class="pt-3 d-flex align-items-center">
                                <img class="img-fluid cal-icon" src="~/assets/svg-icons/calendar.png" width="20" height="20" alt="calendar" loading="lazy">
                                <span class="ms-2">2024 </span>
                            </p>
                            <p class="card-title"> The Case Centre Impact Index 2024</p>
                            <div>
                                <a class="event-btn float-end" href="#" target="_blank">
                                    <i class="bi bi-arrow-right"></i>
                                    <span class="visually-hidden">View event details</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>*@
            <div class="col-xl-4 col-lg-4 col-md-4 mb-3">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">
                        <img src="~/assets/img/news/the-case-hub.jpg" alt="events-img" class="img-fluid" fetchpriority="low">
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid cal-icon" src="~/assets/svg-icons/calendar.png" width="20" height="20" alt="calendar" loading="lazy">
                            <span class="ms-2">2024 </span>
                        </p>
                        <p class="card-title"> ICFAI Business School Wins The Case Hub Case Writing Competition 2024</p>
                        <div>
                            <a class="event-btn float-end" href="#" target="_blank">
                                <i class="bi bi-arrow-right"></i>
                                <span class="visually-hidden">View event details</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mb-3">
                <div class="card border-0 shadow h-100">
                    <div class="card-body">
                        <img src="~/assets/img/news/the-case-hub-1.jpg" alt="events-img" class="img-fluid" fetchpriority="low">
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid cal-icon" src="~/assets/svg-icons/calendar.png" width="20" height="20" alt="calendar" loading="lazy">
                            <span class="ms-2">2024 </span>
                        </p>
                        <p class="card-title"> ICFAI Business School Wins The Case Hub Case Writing Competition 2024</p>
                        <div>
                            <a class="event-btn float-end" href="#" target="_blank">
                                <i class="bi bi-arrow-right"></i>
                                <span class="visually-hidden">View event details</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

