@{
    ViewBag.Title = "ICMR - Frequently Asked Questions";
    ViewBag.MetaDescription = "If you are ordering online for ICMR Case Studies/Teaching Notes and have provided a valid email address as part of your online payment process, you will receive a confirmation via email";
    ViewBag.MetaKeywords = "ICMR frequently asked questions";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "faqs";
}


<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>
                            FAQs
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq-section" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="mb-2">
                    Frequently Asked Questions
                </h2>
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body text-justify">
                        <div>
                            <h6 class="fw-medium mb-1">How will I know that you have received my order form?</h6>
                            <p>If you are ordering online for ICMR Case Studies/Teaching Notes and have provided a valid email address as part of your online payment process, you will receive a confirmation via email. You will also see a confirmation message after a successful transaction.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">When can I expect to be notified of receipt of my order details?</h6>
                            <p>You will receive an official communication regarding your order from us after you have successfully filed the order form and made the online payment. However, it would take about a weeks time to receive the Case Study/Teaching Notes you have ordered. Overseas deliveries may take more time.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">What if I have a problem about my order?</h6>
                            <p class="mb-0">After filing the online order form, you are welcome to write to us quoting your Order No. at the following address.</p>
                            <p class="mb-0">IBS Center for Management Research (ICMR),</p>
                            <p class="mb-0">IFHE Campus, Donthanapally,</p>
                            <p class="mb-0">Sankarapally Road, Hyderabad-501 504,</p>
                            <p class="mb-0">Telangana, INDIA.</p>
                            <p class="mb-0">Mob: +91- 9640901313,</p>
                            <p>E-mail: casehelpdesk@ibsindia.org</p>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-medium mb-1">What if I don't want to pay online?</h6>
                            <p>You can contact us (+91- 9640901313) or write a mail (casehelpdesk@ibsindia.org) to get the guidelines to proceed with the alternate payment method/s.</p>
                        </div>
                        <hr />
                        <h5 class="mb-2">Debit/Credit Cards/Internet Banking & Security</h5>
                        <div>
                            <h6 class="fw-medium mb-1">Is it safe to use my debit/credit card?</h6>
                            <p>Yes, using your debit/credit card and Internet Banking at ICMR is safe because we have installed Secure Sockets Layer (SSL) technology to scramble all information gathered from the candidates at the time of payment. This means that all personal information is encrypted while it is in transit to our web server. Please note that Payments made through are Verisign Certified Secure Site are through Our Secure Server</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">Will my personal information be safe?</h6>
                            <p>Collected personal information will be used only by authorized staff to fulfill the purpose for which it was originally collected or for a use consistent with that purpose. We do not disclose your information to other public bodies/institutions.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">What is meant by "Encryption"?</h6>
                            <p>Encryption means that all information submitted by you is locked while it travels between the customer PC and the server. ICMR protects the data collected from candidates through the use of 128-bit SSL encryption.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">What is 128-bit encryption?</h6>
                            <p>128-bit encryption provides a significant amount of cryptographic protection. With the increasing computing power of criminals, it is becoming necessary to employ larger keys, as evidenced by a recent study by several leading cryptographers. In terms of what the numbers represent, "128"bit encryption refers to the size of the key used to encrypt the message.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">Why do I need 128-bit encryption?</h6>
                            <p>This encryption strength is needed to handle the SSL (Secure Sockets Layer) that was put on this application. The SSL is put on this application to ensure that your payment information is secure and protected as it is transmitted over the Internet.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">What is a secure browser?</h6>
                            <p>Browsers that support the SSL encryption technology are called secure browsers. Most latest version browsers (Google Chrome, Firefox, Opera, Microsoft IE etc.) are secure. Your browser will automatically enter the secure mode when you make online payment transactions with Secure Payment Gateway.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">Why do I get security warning messages?</h6>
                            <p>
                                Most secure browsers will warn users when their browser leaves the secure mode of operation. With the our secured server, it is normal for this to occur. For example, this can occur following the final submission of the online order form.
                                If the warning options have been turned off in your browser, you may not see these messages. However, Our Secure service always ensures that your information is safely handled.
                            </p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">Will I receive a receipt for my transaction?</h6>
                            <p>Yes. At the end of your transaction, you are shown a "Payment Confirmation" screen. You may print this page from your browser as a receipt for your transaction. You will also receive confirmation by email, which you can retain for your records. Please quote the Order No. if you wish to seek any information about the order.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">When will my payment be processed?</h6>
                            <p>All payments are processed instantaneously.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">Does we charge a service fee for paying Online?</h6>
                            <p>No. There are no additional costs for paying Online.</p>
                        </div>
                        <div>
                            <h6 class="fw-medium mb-1">What if I have a problem with my payment?</h6>
                            <p class="mb-0">
                                Please contact our support team by email at: casehelpdesk@ibsindia.org

                            </p>
                            <p>Or, Call us at: +91- 9640901313</p>
                            <p class="fw-medium">**ICMR will be the decision authority</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
