@{
    ViewBag.Title = "ICMR Case Collection Pricing | Affordable Business Case Studies";
    ViewBag.MetaDescription = "Discover a wide range of ICMR case studies at affordable prices to enhance your management education. Our case studies cover a diverse range of industries and management functions, providing valuable insights into real-world business challengesDiscover a wide range of ICMR case studies at affordable prices to enhance your management education. Our case studies cover a diverse range of industries and management functions, providing valuable insights into real-world business challenges";
    ViewBag.MetaKeywords = "Management case study price, case studies with discount, annual licensing for b-school, annual licensing for corporates, buy case studies online";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "icmr-case-pricing";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Pricing</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-section" data-aos="fade-up">
    <div class="container">

        <div class="row mb-2">
            <div class="col-xl-8">

                <div class="card shadow-sm rounded-4 border-0">
                    <div class="card-body">
                        <div class="p-3 mb-3 bg-body-tertiary  text-center">
                            <h2 class="mb-3">Annual Licensing and Pricing Information</h2>
                            <div class="card  d-inline-block p-3 border-0 me-2 mb-2 shadow">
                                <a title="Pricing for Individual Cases">Pricing for Individual Cases</a>
                            </div>
                            <div class="card  d-inline-block p-3 border-0 me-2 mb-2 shadow">
                                <a title="Annual Licensing for B-Schools">Annual Licensing for B-Schools</a>
                            </div><br />
                            <div class="card  d-inline-block p-3 border-0 me-2 mb-2 shadow">
                                <a title="Annual Licensing for Corporates">Annual Licensing for Corporates</a>
                            </div>
                            <div class="card  d-inline-block p-3 border-0 me-2 mb-2 shadow">
                                <a title="Pricing for Case e-Books">Pricing for Case e-Books</a>
                            </div>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        Pricing for Individual Cases - Single Case Licensing
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample" style="">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="table-danger">
                                                        <th>Items</th>
                                                        <th>Price</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>

                                                        <td>< 5 Copies</td>
                                                        <td>Varies from INR 200 to 700 per copy</td>
                                                        <td>No discount. The document is supplied as a locked PDF file with "Do Not Copy" watermark</td>
                                                    </tr>
                                                    <tr>

                                                        <td>5-50 copies</td>
                                                        <td>Varies from INR 200 to 700 per copy</td>
                                                        <td>5% discount. Licensed version will be provided with 3 months of validity</td>
                                                    </tr>
                                                    <tr>
                                                        <td>51-100 copies</td>
                                                        <td>Varies from INR 200 to 700 per copy</td>
                                                        <td>10% discount. Licensed version will be provided with 3 months of validity</td>
                                                    </tr>
                                                    <tr>
                                                        <td>> 100 copies</td>
                                                        <td>Varies from INR 200 to 700 per copy</td>
                                                        <td>20% discount. Licensed version will be provided with 3 months of validity</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        Annual Licensing for B-Schools/Academic Institutes
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample" style="">
                                    <div class="accordion-body">

                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="table-danger">
                                                        <th>Item</th>
                                                        <th>Details</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>CRC Case Studies</td>
                                                        <td>Access to the shortlisted cases (by Faculty / Coordinator) from the entire repository of CRC Cases.</td>
                                                        <td>
                                                            <p class="mb-2">Pricing per student, number of cases and per year basis</p>
                                                            <p class="mb-2">Price varies between INR 2000 to INR 3000 per student, per year, depending on number of students and shortlisted cases</p>
                                                            <p class="mb-2">Access will be given through online with individual user id and password through our dedicated portal</p>
                                                            <p class="mb-2">Attractive discounts available if the term of license is more than or equals to 3 years</p>
                                                        </td>
                                                    </tr>
                                                    <tr class="table-light">
                                                        <td colspan="3"><span class="fw-bold">How it Works:</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <p class="mb-2">1. CRC will send a spreadsheet (list) of all Cases along with the abstract and Teaching Notes (where available) to the concerned Faculty/Course Coordinator, Subject Coordinator;</p>
                                                            <p class="mb-2">2. The concerned Faculty will send to CRC a list of shortlisted Cases;</p>
                                                            <p class="mb-2">3. CRC will provide view/read only access for the shortlisted Cases and Teaching Notes (where available) to the concerned Faculty;</p>
                                                            <p class="mb-2">4. Faculty/Course coordinator will come back with the email IDs and Names of students to whom CRC will provide view/ read-only access for the shortlisted Cases; OR</p>
                                                            <p class="mb-2">5. CRC will send a 'licensed to' pdf version of the case/s to the concerned faculty</p>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                        Annual Licensing for Corporates
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="table-danger">
                                                        <th>Item</th>
                                                        <th>Details</th>
                                                        <th>Comments</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>CRC Case Studies</td>
                                                        <td>Access to the shortlisted cases (by Trainer / Coordinator) from the entire repository of CRC Cases</td>
                                                        <td>Pricing will be based on SLA depending on number of participants and shortlisted cases</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3"><span class="fw-bold">How it Works:</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <p class="mb-2">1. CRC will send a spreadsheet (list) of all Cases along with the abstract and Teaching Notes (where available) to the concerned Coordinator/Trainer;</p>
                                                            <p class="mb-2">2. The concerned Coordinator/Trainer will send to CRC a list of shortlisted Cases;</p>
                                                            <p class="mb-2">3. CRC will provide view/read only access for the shortlisted Cases and Teaching Notes (where available) to the concerned Coordinator/Trainer;</p>
                                                            <p class="mb-2">4. The Coordinator/Trainer will come back with the email IDs and Names of the participants to whom CRC will provide view/ read-only access for the shortlisted Cases; OR</p>
                                                            <p class="mb-2">5. CRC will send a 'licensed to' pdf version of the case/s to the concerned Coordinator/Trainer</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">

                                        Pricing for Case e-Books

                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="table-danger">
                                                        <th>Caselet (Short Case Study)</th>
                                                        <th>INR 50 to INR 200</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a title="e-Books in Management, Business, Case Studies" href="http://www.icmrindia.org/e-books/case%20e-books.htm" name="e-Books">Case E-Books</a>
                                                        </td>
                                                        <td>
                                                            <p class="mb-2">The price of the case e- book varies between INR 900 and INR 4500. This will be a locked PDF file.</p>
                                                            <p class="mb-2">Customers who are interested in buying cases on specific Themes/Functional Areas will find significant value in buying these case e-books. The number of case studies in e-books varies between 5 and 35 cases.</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Research Report / Industry Note</td>
                                                        <td>Variable</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Teaching Note Available only to trainers / faculty </td>
                                                        <td>
                                                            Price of Teaching Note: Detailed teaching notes (8 to 10 pages): INR 400 <br>Short teachings notes (3 pages): INR 100<br>
                                                            Teaching notes are sent by e-mail only after the credentials of the person requesting them are verified.<br><br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            Please Note:
                                                            <p class="mb-2">1. For enquiries regarding reprint permissions or the licensing of ICMR case studies for use in the classroom, please contact casehelpdesk@ibsindia.org</p>
                                                            <p class="mb-2">2. Please note that Indian Standard Time (IST) is 5.30 hours ahead of GMT. Our working hours are 9.00 a.m to 5.30 p.m IST. Our office is closed on Saturdays and Sundays.</p>
                                                            <p class="mb-2">3. A caselet is a short case study (less than 4 pages long) prepared for the purpose of class discussion</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xl-4">

                <div class="w-100">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf3QoYy3UYUq9vdV8RIJrm1WuqC0WthhlmQBnl9DjyE26LbXA/viewform?embedded=true" height="1200" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>

            </div>
        </div>

    </div>
</section>




