@{
    ViewBag.Title = "ICMR - Premium Services";
    ViewBag.MetaDescription = "ICMR offers business research services, management consulting, Workshops on Case Study Development and Delivery of Management Development Programs to corporate, government and social sector clients";
    ViewBag.MetaKeywords = "Knowledge Partnership Services, Training Services, Business Research, Management Consulting, Workshops, Management Development Programs";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "icmr-services";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Sitemap</li>
                        <li>Our Services</li>
                        <li>Knowledge Partnership Services</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="bg-body-tertiary p-4 rounded-4">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="Title-Heading">
                        <h2>ICMR Services</h2>
                    </div>
                    <h4>Knowledge Partnership Services</h4>
                    <p class="mb-2"><strong>Business Research:</strong> IBS Center for Management Research (ICMR) offers business research services to corporate, government and social sector clients. Our research services include:</p>
                    <ul>
                        <li class="mb-1">Collaborative preparation of the research brief</li>
                        <li class="mb-1">Conceptualization and design of the research study</li>
                        <li class="mb-1">Collection, analysis and interpretation of primary and secondary data Recommendations</li>
                    </ul>
                    <p class="mb-2"><strong>Management Consulting:</strong> As part of its initiatives to strengthen and institutionalize the relationships between academia and industry, ICMR offers management consulting services in the following areas:</p>
                    <ul>
                        <li class="mb-1">Business Strategy</li>
                        <li class="mb-1">Marketing</li>
                        <li class="mb-1">Information Systems</li>
                        <li class="mb-1">Human Resources  </li>
                    </ul>
                </div>
                <div class="col-xl-4 col-xl-4 col-md-4 col-12">
                    <div class="img-set mt-1 sticky-top1">
                        <img src="/assets/img/icmr-services.jpg" class="img-fluid rounded-4" alt="icmr-services" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body">
                        <h3>Training Services</h3>
                        <h6>Workshops on Case Study Development and Usage</h6>
                        <p>Drawing on its varied experience in case study development, ICMR conducts workshops on case study writing, and the use of case studies in teaching and training.</p>
                        <h6>Design and Delivery of Management Development Programs</h6>
                        <p>ICMR has the physical and intellectual resources to design and deliver training programs for managers and executives, that meet the specific, unique requirements of a variety of business and not-for-profit organizations.</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
