@{
    ViewBag.Title = "Management Case Studies with Solutions - ICMR India";
    ViewBag.MetaDescription = "ICMR is a premier case development center developing high-quality teaching cases with solutions in Management area. Business research, management consulting";
    ViewBag.MetaKeywords = "Management Case Studies, Case Studies, Case Writing, Management Case Study, Case Study Awards, Case Writing Competitions, Management Cases with Solutions, Case Writing Workshops, Business Case Studies, Marketing Case Studies";

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Url = "/";
}


<section class="bg7">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <div id="carouselExampleIndicators" class="carousel slide my-4 custom-carousel" data-bs-ride="carousel" data-bs-interval="3000">
                    <div class="carousel-indicators">
                        <div class="custom-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/assets/img/banner/ICMR-Banner-1.jpg" class="d-block custom-width rounded-4" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/assets/img/banner/ICMR-Banner-2.jpg" class="d-block custom-width rounded-4" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/assets/img/banner/ICMR-Banner-3.jpg" class="d-block custom-width rounded-4" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/assets/img/banner/ICMR-Banner-4.jpg" class="d-block custom-width rounded-4" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true">
                            <i class="bi bi-chevron-left text-black fs-4 fw-bold"></i>
                        </span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true">
                            <i class="bi bi-chevron-right text-black fs-4 fw-bold"></i>
                        </span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="input-placeholder p-2">
        <i class="bi bi-search"></i>
        <div class="search-position">
            <input id="search_input" type="text" class="searchbox border-0 ps-2" autocomplete="off" required="">
            <div class="search_placeholder text-secondary">
                Search for
                <span class="text_type " data-wait="3000" data-words='["Full Cases", "Case Volumes", "Compact Cases","Multimedia Cases"]'>
                    <span class="typing"></span>
                </span>
            </div>
        </div>
        <button class="btn btn-danger">Search</button>
    </div>
</section>




<section class="bg13">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img class="img-fluid" src="~/assets/img/icmr.img" alt="ICMR (IBS Center for Management Research)" />
            </div>
            <div class="col-lg-7">
                <div class="heading-border">
                    <h2>ICMR (IBS Center for Management Research)</h2>
                    <h6>Asia Pacific's largest case study repository for management students, faculties, trainers and corporate executives</h6>
                </div>
                <p>ICMR is Asia's most popular repository of management case studies. ICMR Case Collection provides Teachers, Corporate Trainers, and Management Professionals with a variety of teaching and reference material. The collection consists of case studies on a wide range of companies and industries - both Indian and international.</p>
                <p>ICMR is involved in business research, management consulting, and the development of case studies and courseware in management.</p>
                <p>ICMR also provides knowledge process outsourcing services to international clients. Over 10 million copies of ICMR case studies have been printed in international and Indian textbooks, workbooks and case study volumes. More than 200,000 individual copies of our case studies have been purchased by many of the leading business schools and universities around the world.</p>
                <p>Our case studies have won prizes in several global case writing competitions, and also appear in many international management textbooks. More than 5500 case studies, short case studies, and business reports are available for immediate download from this site. The material is available for download as pdf files, with a 'Do Not Copy' watermark.</p>
            </div>
        </div>
    </div>
</section>

<section class="category-section bg3 overflow-hidden">
    <div class="container position-relative z-3">
        <div class="heading-border">
            <h2>Case Study Categories</h2>
            <h6>Varieties and numbers of case studies are available in our repository in different management subject categories. Below are the most popular categories in management areas:</h6>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3 z-3">
                <div class="category-card shadow">
                    <div class="d-flex align-items-center">
                        <div class="bg-body-secondary rounded-2 p-2 me-2">
                            <img src="~/assets/img/Business-Strategy.png" alt="Business Strategy" />
                        </div>
                        <div>
                            <p class="fw-bold mb-0">Business Strategy</p>
                        </div>

                    </div>
                    <div>
                        <a href="#">
                            <i class="bi bi-box-arrow-up-right fs-4 text-secondary"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3 z-3">
                <div class="category-card shadow">
                    <div class="d-flex align-items-center">
                        <div class="bg-body-secondary rounded-2 p-2 me-2">
                            <img src="~/assets/img/Marketing.png" alt="Marketing" />
                        </div>
                        <div>
                            <p class="fw-bold mb-0">Marketing</p>
                        </div>

                    </div>
                    <div>
                        <a href="#">
                            <i class="bi bi-box-arrow-up-right fs-4 text-secondary"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3 z-3">
                <div class="category-card shadow">
                    <div class="d-flex align-items-center">
                        <div class="bg-body-secondary rounded-2 p-2 me-2">
                            <img src="~/assets/img/finance.png" alt="Finance" />
                        </div>
                        <div>
                            <p class="fw-bold mb-0">Finance</p>
                        </div>

                    </div>
                    <div>
                        <a href="#">
                            <i class="bi bi-box-arrow-up-right fs-4 text-secondary"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3 z-3">
                <div class="category-card shadow">
                    <div class="d-flex align-items-center">
                        <div class="bg-body-secondary rounded-2 p-2 me-2">
                            <img src="~/assets/img/hrm.png" alt="Human Resource Management" />
                        </div>
                        <div>
                            <p class="fw-bold mb-0">Human Resource Management</p>
                        </div>

                    </div>
                    <div>
                        <a href="#">
                            <i class="bi bi-box-arrow-up-right fs-4 text-secondary"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3 z-3">
                <div class="category-card shadow">
                    <div class="d-flex align-items-center">
                        <div class="bg-body-secondary rounded-2 p-2 me-2">
                            <img src="~/assets/img/IT-Systems.png" alt="IT and Systems" />
                        </div>
                        <div>
                            <p class="fw-bold mb-0">IT and Systems</p>
                        </div>

                    </div>
                    <div>
                        <a href="#">
                            <i class="bi bi-box-arrow-up-right fs-4 text-secondary"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3 z-3">
                <div class="category-card shadow">
                    <div class="d-flex align-items-center">
                        <div class="bg-body-secondary rounded-2 p-2 me-2">
                            <img src="~/assets/img/Operations.png" alt="Operations" />
                        </div>
                        <div>
                            <p class="fw-bold mb-0">Operations</p>
                        </div>

                    </div>
                    <div>
                        <a href="#">
                            <i class="bi bi-box-arrow-up-right fs-4 text-secondary"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3 z-3">
                <div class="category-card shadow">
                    <div class="d-flex align-items-center">
                        <div class="bg-body-secondary rounded-2 p-2 me-2">
                            <img src="~/assets/img/Economics.png" alt="Economics" />
                        </div>
                        <div>
                            <p class="fw-bold mb-0">Economics</p>
                        </div>

                    </div>
                    <div>
                        <a href="#">
                            <i class="bi bi-box-arrow-up-right fs-4 text-secondary"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3 z-3">
                <div class="category-card shadow">
                    <div class="d-flex align-items-center">
                        <div class="bg-body-secondary rounded-2 p-2 me-2">
                            <img src="~/assets/img/Leadership.png" alt="Leadership and Entrepreneurship" />
                        </div>
                        <div>
                            <p class="fw-bold mb-0">
                                Leadership and Entrepreneurship
                            </p>
                        </div>

                    </div>
                    <div>
                        <a href="#">
                            <i class="bi bi-box-arrow-up-right fs-4 text-secondary"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="IBS-bold-circle-right brownCircle d-none d-lg-block"> </div>
        @*<img src="~/assets/img/banner-shape10.png" alt="shape of dots" class="img-fluid dots z-1">*@
    </div>
</section>


<section class="achievements-section">
    <div class="container">
        <div class="bg-container p-4">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="heading-border">
                        <h2>Awards and Achievements</h2>
                        <p>ICMR cases have won awards in some of the most prestigious global case writing competitions such as EFMD, oikos, John Molson, CEIBS, The Case Centre, E-PARCC and many more</p>

                    </div>
                    <div class="mt-3 text-start">
                        <a href="#" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                    </div>

                    <div class="Award-Logos mt-3">
                        <div class="wrapper">
                            <div class="carouselAwardlogs owl-carousel">
                                <div class="card">
                                    <img src="~/assets/img/awards/academy-of-management.jpg" alt="" fetchpriority="low" />
                                </div>
                                <div class="card">
                                    <img src="~/assets/img/awards/cease-center.jpg" alt="" fetchpriority="low" />
                                </div>
                                <div class="card">
                                    <img src="~/assets/img/awards/ceibs.jpg" alt="" fetchpriority="low" />
                                </div>
                                <div class="card">
                                    <img src="~/assets/img/awards/efmd.jpg" alt="" fetchpriority="low" />
                                </div>
                                <div class="card">
                                    <img src="~/assets/img/awards/e-parcc.jpg" alt="" fetchpriority="low" />
                                </div>
                                <div class="card">
                                    <img src="~/assets/img/awards/john-molson.jpg" alt="" fetchpriority="low" />
                                </div>
                                <div class="card">
                                    <img src="~/assets/img/awards/oikos.jpg" alt="" fetchpriority="low" />
                                </div>
                                <div class="card">
                                    <img src="~/assets/img/awards/project-management-institute.jpg" alt="" fetchpriority="low" />
                                </div>
                                <div class="card">
                                    <img src="~/assets/img/awards/usasbe.jpg" alt="" fetchpriority="low" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="bg14 arrival-section">
    <div class="container arrival-section">
        <div class="heading-border">
            <h2>New Arrivals</h2>
            <h6>Please check our recent case studies</h6>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card border-0 shadow h-100 border-end border-3">
                    <div class="card-body ">
                        <div class="">

                            <div class="ps-3">
                                <h5>Corporate Governance Crisis at Startups: The Zilingo Story</h5>
                                <p class="truncate">The case discusses how Zilingo Pte Ltd (Zilingo), a Singapore-based B2B fashion tech platform, ended up in liquidation after a protracted crisis due to issues that led to corporate governance failure. Founded in 2016 by Ankiti Bose (Bose) and Dhruv Kapoor, Zilingo was an online fashion and beauty startup company that empowered apparel supply chain players to produce, source, and trade efficiently through its technology platform. It was one of Southeast Asia’s vaunted startups </p>

                                <div class="mt-3 text-end">
                                    <a href="~/" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card border-0 shadow h-100 border-end border-3">
                    <div class="card-body">
                        <div class="">
                            <div class="ms-2">
                                <h5>Amazon's Private Label Brands: An Ethical Perspective</h5>
                                <p class="truncate">The case “Amazon’s Private Label Brands: An Ethical Perspective” discusses the ethical implications surrounding the promotion of US-based multinational technology company Amazon.com, Inc. (Amazon) of Amazon Private Label (APL) products on its online marketplace. The case starts out with a brief look at– the world's largest e-commerce platform's launch of various APL products from the late 2000s. It then delves into the various controversies surrounding APL products through the years </p>
                                <div class="mt-3 text-end">
                                    <a href="~/" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card border-0 shadow h-100 border-end border-3">
                    <div class="card-body">
                        <div class=" ">
                            <div class="ms-2">
                                <h5>Twitter under Elon Musk: Present Tense, Future Perfect?</h5>
                                <p class="truncate">The case discusses the problems faced by social media platform Twitter and its future under the ownership of Elon Musk. After he acquired Twitter for US$44 billion in October 2022, Musk primarily known for his innovative efforts, introduced a list of controversial policy and feature changes to the platform. These included rebranding Twitter to ‘X’, making policy changes and sweeping layoffs, resorting to cost cutting, reinstating accounts, and introducing paid verification </p>
                                <div class="mt-3 text-end">
                                    <a href="~/" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card border-0 shadow h-100 border-end border-3">
                    <div class="card-body">
                        <div class="">
                            <div class="ms-2">
                                <h5>Google's Post-Pandemic Multi-Purpose Workplace Design</h5>
                                <p class="truncate">The case touches upon the early office design initiatives at Google including at its headquarters Googolplex. Next, it describes in detail how Google’s Real Estate and Workplace Services team (REWS) focused on redesigning the existing office spaces in 2022 and creating and testing new multi-purpose offices and private workspaces to enable employees to collaborate effectively across work environments. Google designed Team Pods with chairs, desks, white boards, and storage units on casters that could be shifted based</p>
                                <div class="mt-3 text-end">
                                    <a href="~/" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card border-0 shadow h-100 border-end border-3">
                    <div class="card-body">
                        <div class="">
                            <div class="ms-2">
                                <h5>Reliance's Foreign Currency Bond</h5>
                                <p class="truncate">The case study is about Reliance Industries Ltd (RIL)'s foreign currency bond issuance and listing on international stock exchanges. The case starts with a brief history of the company, from the founding of RIL by Dhirubhai Ambani in 1966 to being led by Mukesh Ambani in 2022.The case then moves on to the details of RIL's financials, showcasing how the company has grown over the years, and how efficiently it has raised funds from the global capital market and utilized these funds for expansion. Finally, it delves into the details of foreign currency bonds issued by RIL </p>
                                <div class="mt-3 text-end">
                                    <a href="~/" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card border-0 shadow h-100 border-end border-3">
                    <div class="card-body">
                        <div class="">
                            <div class="ms-2">
                                <h5>Enbridge: A Diversity, Equity & Inclusion (DEI) Leader in the Energy Industry</h5>
                                <p class="truncate">The case describes the various initiatives taken by Enbridge, a Canadian energy company, to create a diverse and inclusive culture where employees would feel good coming to work, collaborate across teams, and be successful and grow their careers. The case first touches upon the main goals of the D&I strategy put in place at Enbridge. It then describes how Enbridge decided to encourage its employee community through various initiatives that included activities, education, and networking </p>
                                <div class="mt-3 text-end">
                                    <a href="~/" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="features events-container">
    <div class="container">
        <h3>Events</h3>

        <div class="carouselAcademiclogs  owl-carousel">
            <div class="card h-100 border">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="overflow-hidden rounded-3">

                            <img src="https://test.icfaiuniversity.in/assets/img/2024/ICETAO-2025.jpg" alt="events-img" class="img-fluid event-img rounded-3" fetchpriority="low" loading="lazy">

                        </div>
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid event-icon" src="/assets/svg-icons/calendar.png" alt="calendar" loading="lazy" />
                            <span class="ms-2">March 21 - 22, 2025 </span>
                        </p>
                        <p class="card-title">    11th IBS Conference on Marketing & Business Strategy (ICOMBS)</p>
                    </div>
                    <div>
                        <a class="event-btn float-end" href="#" target="_blank">
                            <i class="bi bi-arrow-right"></i>
                            <span class="visually-hidden">View event details</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card h-100 border">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="overflow-hidden rounded-3">
                            <picture>
                                <source srcset="/assets/img/2024/ICETAO-2025.jpg" type="image/webp">
                                <img src="/assets/img/2024/ICETAO-2025.jpg" alt="events-img" class="img-fluid event-img rounded-3" fetchpriority="low" loading="lazy">
                            </picture>
                        </div>
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid event-icon" src="/assets/svg-icons/calendar.png" alt="calendar" loading="lazy" />
                            <span class="ms-2">March 07 - 08, 2025</span>
                        </p>
                        <p class="card-title">International Conference on Emerging Technologies, Analytics and Operations</p>
                    </div>
                    <div>
                        <a class="event-btn float-end" href="#" target="_blank">
                            <i class="bi bi-arrow-right"></i>
                            <span class="visually-hidden">View event details</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card h-100 border">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="overflow-hidden rounded-3">
                            <picture>
                                <source srcset="/assets/img/2024/ICHRM-2025.jpg" type="image/webp">
                                <img src="/assets/img/2024/ICHRM-2025.jpg" alt="events-img" class="img-fluid event-img rounded-3" fetchpriority="low" loading="lazy">
                            </picture>
                        </div>
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid event-icon" src="/assets/svg-icons/calendar.png" alt="calendar" loading="lazy" />
                            <span class="ms-2">February 28, 2025</span>
                        </p>
                        <p class="card-title">7th International Conference on Human Resource Management (ICHRM 2025)</p>
                    </div>
                    <div>
                        <a class="event-btn float-end" href="#" target="_blank">
                            <i class="bi bi-arrow-right"></i>
                            <span class="visually-hidden">View event details</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card h-100 border">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="overflow-hidden rounded-3">
                            <picture>
                                <source srcset="/assets/img/2024/ICBF-2025.jpg" type="image/webp">
                                <img src="/assets/img/2024/ICBF-2025.jpg" alt="events-img" class="img-fluid event-img rounded-3" fetchpriority="low" loading="lazy">
                            </picture>
                        </div>
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid event-icon" src="/assets/svg-icons/calendar.png" alt="calendar" loading="lazy" />
                            <span class="ms-2">April 04, 2025 </span>
                        </p>
                        <p class="card-title"> 17th International Business and Finance (ICBF-2025)</p>
                    </div>
                    <div>
                        <a class="event-btn float-end" href="#" target="_blank">
                            <i class="bi bi-arrow-right"></i>
                            <span class="visually-hidden">View event details</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card h-100 border">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="overflow-hidden rounded-3">
                            <picture>
                                <source srcset="/assets/img/2024/FroCAP2025.jpg" type="image/webp">
                                <img src="/assets/img/2024/FroCAP2025.jpg" alt="events-img" class="img-fluid event-img rounded-3" fetchpriority="low" loading="lazy">
                            </picture>
                        </div>
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid event-icon" src="/assets/svg-icons/calendar.png" alt="calendar" loading="lazy" />
                            <span class="ms-2">January 20, 2025  </span>
                        </p>
                        <p class="card-title"> Frontiers of Cosmology, Astrophysics & Particle Physics</p>
                    </div>
                    <div>
                        <a class="event-btn float-end" href="#" target="_blank">
                            <i class="bi bi-arrow-right"></i>
                            <span class="visually-hidden">View event details</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card h-100 border">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <div class="overflow-hidden rounded-3">
                            <picture>
                                <source srcset="/assets/img/2024/Conference-on-Teaching-Case-Writing.jpg" type="image/webp">
                                <img src="/assets/img/2024/Conference-on-Teaching-Case-Writing.jpg" alt="events-img" class="img-fluid event-img rounded-3" fetchpriority="low" loading="lazy">
                            </picture>
                        </div>
                        <p class="pt-3 d-flex align-items-center">
                            <img class="img-fluid event-icon" src="/assets/svg-icons/calendar.png" alt="calendar" loading="lazy" />
                            <span class="ms-2">January 17, 2025</span>
                        </p>
                        <p class="card-title">"International Workshop cum Conference on Teaching Case Writing"</p>
                    </div>
                    <div>
                        <a class="event-btn float-end" href="#" target="_blank">
                            <i class="bi bi-arrow-right"></i>
                            <span class="visually-hidden">View event details</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<section class="bg2">
    <div class="container position-relative">
        <div class="heading-border">
            <h2>ICMR Books Collections</h2>
            <h6>ICMR books are ideal resources designed to help deepen knowledge on the management theories and concepts helping to enhance decision-making skills.</h6>

        </div>
        <img src="/assets/img/banner-shape10.png" alt="shape of dots" class="img-fluid dots" />
        <div class="row">
            <div class="col-md-4 my-auto sticky-top">
                <img src="~/assets/img/icmr-books-collections.jpg" class="img-fluid" alt="ICMR Books Collections" />
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card border-0 shadow  mb-4 overflow-hidden">
                            <div class="award-box ring-circle h-100 text-center ring-circle1">
                                <img class="img-fluid mb-3" src="~/assets/img/open-book.svg" alt="open-book" height="50" width="50">
                                <h3>Business Strategy</h3>
                                <p>Strategic management consists of a set of decisions and actions resulting in the formulation and implementation of strategies designed to achieve the objectives of an organization. It involves taking decisions about the products, location, and the organization's structure-decisions that determine the survival of the organization in the short and long term.....</p>
                                <div class="mt-3 text-end">
                                    <a href="~/" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 shadow  mb-4 overflow-hidden">
                            <div class="award-box ring-circle h-100 text-center ring-circle2">
                                <img class="img-fluid mb-3" src="~/assets/img/open-book.svg" alt="open-book" height="50" width="50">
                                <h3>Business Communication</h3>
                                <p class="mb-1">Communication is an essential aspect of business life. Everyday, business persons have to communicate with people at different levels of the organization or with people external to the organization.</p>
                                <p>And in this globalized environment they also have to communicate with people from different countries, with different cultural backgrounds....</p>
                                <div class="mt-3 text-end">
                                    <a href="~/" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-auto">
                        <div class="card border-0 shadow  mb-4 overflow-hidden">
                            <div class="award-box ring-circle h-100 text-center ring-circle3">
                                <img class="img-fluid mb-3" src="~/assets/img/open-book.svg" alt="open-book" height="50" width="50">
                                <h3>Economics For Managers</h3>
                                <p>Economics is the study of how economic agents or societies choose to use scarce resources to satisfy unlimited wants. It examines how resources can be optimally distributed to satisfy the needs of individuals and society as a whole. Knowledge of economics helps businesses become more profitable through proper allocation of resources....</p>
                                <div class="mt-3 text-end">
                                    <a href="~/" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="testimonial p-0 shadow">
    <div class="row m-0">
        <div class="col-lg-9 col-md-12 col-xl-9 p-0">
            <img class="object-fit-cover w-100" alt="testimonial" src="~/assets/img/testimonial.jpg" height="500" loading="lazy" />
        </div>
        <div class="col-lg-3 col-lg-0 d-block d-xl-block d-lg-none p-0 testimonial-rightBox bg-content"></div>
    </div>
    <div class="testimonial-container rounded-bottom-4 bg-white p-4">
        <h2>Testimonials</h2>
        <div class="testimonialSpeak owl-carousel">
            <div class="card border-0 bg-transparent">
                <div class="card-body">
                    <p class="mt-2 mb-1 text-justify">
                        Case studies are an important tool to highlight managerial dilemmas. The ICMR case studies are of highest quality and tackle important managerial issues, including social and environmental sustainability. The case studies have repeatedly won international case study contests and have been tested around the globe with much success.
                    </p>
                    <p class="mt-3">-Dr. Michael Pirson, Assistant Professor of Management, Fordham University; Research Fellow in Psychology; Harvard University; Co-founder and Academic Director, Humanet</p>
                </div>
            </div>
            <div class="card border-0 bg-transparent">
                <div class="card-body">
                    <p class="mt-2 mb-1 text-justify">
                        I am impressed about the quality of ICMR cases, combining relevant issues, innovative organizationa and excellent case writing handcraft. In recent years, ICMR cases have performed extraordinarily well within the double-blind reviewed annual oikos Global Case Writing Competition.
                    </p>
                    <p class="mt-3">-Dr. Jost Hamschmidt, Managing Director, oikos Foundation, St. Gallen, Switzerland; Head, oikos Global Case Writing Competition Program</p>
                </div>
            </div>
        </div>


    </div>
    <img class="img-fluid testimonial-shape-1 d-none d-lg-block" src="/assets/img/testimonial-shape-1.png" alt="shape pattern" />
    <div class="IBS-bold-circle-right  d-none d-lg-block"> </div>
    <div class="IBS-bold-circle-right2  d-none d-lg-block"> </div>
</section>



<section class="service-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12 col-12">
                <div class="heading-border">
                    <h2>Our Premium Services</h2>
                    <h6>ICMR provides knowledge partnership services as well as training services</h6>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                        <div class="services-card shadow services-card-color-bg2 p-3 h-100">
                            <img src="~/assets/img/services/licensing.png" class="img-fluid" alt="Annual Licensing">
                            <div class="">
                                <h4>Annual Licensing</h4>
                                <p>IBS Center for Management Research (ICMR) offers a subscription model for the purchase of case studies. At present, we are offering two subscription options…</p>
                                <a href="#" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                        <div class="services-card shadow services-card-color-bg2 p-3 h-100">
                            <img src="~/assets/img/services/reprint.png" class="img-fluid" alt="Reprint Permission">
                            <div class="">
                                <h4>Reprint Permission</h4>
                                <p>While ICMR regularly comes out with casebooks, case packs, and e-books comprising our cases, we have witnessed a high demand for our cases for…</p>
                                <a href="#" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                        <div class="services-card shadow services-card-color-bg2 p-3 h-100">
                            <img src="~/assets/img/services/workshops.png" class="img-fluid" alt="Case Writing Workshops">
                            <div class="">
                                <h4>Case Writing Workshops</h4>
                                <p>ICMR India conducts workshops to train all the interested individuals in case research and writing. For more details, please write a mail to…</p>
                                <a href="#" target="_blank" class="rts-theme-btn btn-arrow">View More <span><i class="bi bi-arrow-right"></i></span></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12 my-auto">
                <img src="/assets/img/our-premium-services.jpg" class="img-fluid" alt="Our Premium Services">
            </div>
        </div>

    </div>
</section>


<script>

    const textElement = document.querySelector(".typing");
    const words = JSON.parse(document.querySelector(".text_type").getAttribute("data-words"));
    const wait = parseInt(document.querySelector(".text_type").getAttribute("data-wait"), 10);
    const searchInput = document.getElementById("search_input");
    const searchPlaceholder = document.querySelector(".search_placeholder");

    let wordIndex = 0;
    let charIndex = 0;
    let isDeleting = false;

    function type() {
        const currentWord = words[wordIndex];
        if (isDeleting) {
            textElement.textContent = currentWord.substring(0, charIndex--);
        } else {
            textElement.textContent = currentWord.substring(0, charIndex++);
        }

        let typingSpeed = isDeleting ? 50 : 100;

        if (!isDeleting && charIndex === currentWord.length) {
            typingSpeed = wait;
            isDeleting = true;
        } else if (isDeleting && charIndex === 0) {
            isDeleting = false;
            wordIndex = (wordIndex + 1) % words.length;
        }

        setTimeout(type, typingSpeed);
    }

    type();

    // Hide search_placeholder when the user types
    searchInput.addEventListener("input", function () {
        if (searchInput.value.trim() !== "") {
            searchPlaceholder.style.display = "none";
        } else {
            searchPlaceholder.style.display = "block";
        }
    });

</script>
