
@{
    ViewBag.Title = "InterviewDetail";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "event";
}


<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-xl-12" data-aos="fade-up">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h2 class="mb-2">Perspectives</h2>
                        <div class="d-md-flex d-sm-table-row">
                            <div class="me-4">
                                <img src="https://icmrindia.org/img/0_MqvWCIKD0qo87krJ.jpg" class="img-rounded rounded mb-3" width="200" height="200" alt="Sanjay-Fuloria" />
                                <a class="btn btn-outline-danger btn-sm" href="https://icmrindia.org/just-in-case/Newsletter/index.html">Back to Newsletter <i class="bi bi-arrow-up-right"></i></a>
                            </div>
                            <div>
                                <div class="d-flex justify-content-between">
                                    <h3 class="fs-5">Prof. Lesley Symons</h3>
                                    <p class="fw-bold border p-1">Vol 1, Issue 01, February 2019</p>
                                </div>
                                <p class="mb-0"> 
                                    Lesley Symons is a Leadership Coach and Facilitator. She is also the founder of ‘The Case for Women’ 
                                    which promotes women’s leadership and presence in business, business schools and education sector learning
                                    tools such as case papers. She is passionate about improving the presence of women at managerial and 
                                    leadership levels in business and universities.
                                </p>

                            </div>
                        </div>

                        <p class="mt-3">
                            <span class="fw-bold">CRC:</span>
                             Lesley, please tell us about yourself and your work. What inspired you to start ‘The Case for Women’ and what it wants to achieve?
                        </p>
                        <p>
                            <span class="fw-bold"> Lesley:</span>
                            I have been a leadership coach and group facilitator for over 11 years now and founded The Case for Women in 2014.
                            Prior to my coaching experience, I worked for many years in leadership positions in large multinational organisations
                            such as Selfridges, L’Oréal and the Estee Lauder Companies. I have worked across 3 continents. 
                        </p>
                        <p>
                            As a coach, I am predominantly interested in people developing their leadership capabilities. I facilitate workshops on how to develop a leader identity, on gender diversity and speak about my recent research on women’s presence (or lack thereof) in business school case studies.
                            Leadership identity work is shown to assist women to buffer the bias and stereotypes that can occur in the workplace.
                        </p>
                        <p>I also have a Master’s degree from INSEAD. Whist studying at INSEAD I was struck by the lack of female representation across the campus, in front of the classroom and in the case material handed out on my course and decided to focus my thesis on researching this topic. It’s now become a passion of mine and consequently, a new business! My Thesis “Where are the women leaders? Invisible selves: writing women leaders into business school case papers” (2014) is the subject of a Harvard blog and has been published by INSEAD. Through The Case for Women I want to advocate for increased presence of women in business school case studies, business schools and the higher education sector in general where women are grossly under-represented. I really hope that by doing this I can make a difference in getting the message out that this is an area where we need to see change and a healthier gender balance.</p>
                        <p> <span class="fw-bold">CRC:</span> Your research on women and how they are depicted in management case studies have attracted a lot of attention.  Why do you think this issue is so significant?</p>
                        <p>
                            <span class="fw-bold"> Lesley:</span> The reason why the research attracted attention was due, I believe, to this research being the first of its kind to look in-depth at the overt and covert messages business school case studies are sending students. Secondly the outcome of the research was so shocking – women are not present in management case studies. In fact, when they are depicted, it is from either marginalised communities or from the world of modelling and media. There were few female leaders or managers represented. Finally there is a drive to get more women into leadership positions and on boards. Business schools are in a unique position to foster this development. Case studies are the main area of learning for MBA students. Together with a lack of female students, female professors and board members at business schools, students are not reading, seeing or hearing women in leadership roles, which can have a hugely negative impact on their future as leaders and for their organisations.
                        </p>
                        <p>
                            <span class="fw-bold">CRC:</span> What was your experience of writing the Dark Side Award-winning case organized by Academy of Management?
                        </p>
                        <p> <span class="fw-bold"> Lesley:</span> I was most flattered to be asked and honoured to co-write a case paper with Debapratim Purkayastha. This was really my first experience of writing a paper in an area of which I had been highly critical of! That of case papers!</p>
                    
                        <p>The  topic though immediately grabbed my attention. The case <strong><em><a href="http://www.icmrindia.org/casestudies/catalogue/Business%20Ethics/BECG150.htm" class="bss">What’s Good for the Goose is Good for the Gander? </a></em></strong>is about a female (Jill Abramson)  leader in a male dominated environment. She was the first women to be promoted  to the head of this organisation - The New York Times. She was also the first  leader to be sacked in the way she was. The abrupt firing raised questions on  gender disparity, discrimination in salaries and incentives. It was quite clear on  investigating this case that all the first and second generation biases seemed  to be present. It was also clear that Abramson had learnt her leader style from  being the “visible other” in the business and thus took on some of the social  culture aspects of the organisation. Thus, she led in quite a masculine way.  Thus she hit the double bind of not being liked.</p>
                        <p>
                            This case enabled me to really dig deep in to the social, cultural and deep gender issues that play out in an organisation. It really highlights the potential pitfalls for women leaders.
                        </p>
                        <p>
                            Initially I found the process of writing the case/teaching note really difficult. It was only after I realised that there was so much to write about and that it was all useful and meaningful to the case that I was able to write. It took many attempts and iterations. Thankfully with Debapratim's guidance I think it worked.
                        </p>
                        <p>There are not enough cases like this- Cases that bring out the somewhat “darkside” or unspoken topics within or around organisations and their cultures.</p>
                        <p>
                            This is a useful case for both men and women to reflect on and debate. Particularly around bias, organisational culture and gender issues at leader level.
                        </p>
                    
                    
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

