@{
    ViewBag.Title = "ICMR Management Cases - Center of Excellence - IBS Hyderabad";
    ViewBag.MetaDescription = "ICMR, a center of excellence at IBS Hyderabad, is a premier case development center developing high-quality teaching cases in Management. ICMR case studies have found extensive usage around the world";
    ViewBag.MetaKeywords = "Center of Excellence, Management Case Study Repository, B-school case study method, quality management cases, award winning management cases, winner in global case writing competitions";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "just-in-case";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>E-newsletter</li>
                        <li>Just In Case</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="bg-body-tertiary p-4 rounded-4">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                    <div class="Title-Heading">
                        <h3 class="">Just In Case An e-newsletter of IBS Case Research Center</h3>
                    </div>
                    <p class="text-justify">Given the criticality of case studies as a pedagogical tool in management education and research, a need was felt to publish a quarterly newsletter. A newsletter would be a window to the world of case writing, case learning and case teaching for both IBS faculty and external case method practitioners. After much deliberation, we decided to opt for an e-newsletter rather than a traditional newsletter. This was done considering the changing media consumption behavior of our target audience as well as for reasons of sustainability. We launched the e-newsletter named Just in! Case on 5-Feb 2019, to commemorate the first World Case Teaching Day. It is in a fully digital format. Just in! Case addresses the long-felt gap in identifying the right cases for internal as well as external stakeholders. It also aims at increasing the popularity of case method of learning for working professionals. Professionals can now have quick and easy access to CRC’s huge repository of award-winning and best-selling case studies. They will also be exposed to cases which are culturally diverse and socially relevant.</p>
                </div>
                <div class="col-xl-4 col-xl-4 col-md-4 col-12">
                    <div class="img-set mt-1 sticky-top1">
                        <img src="~/assets/img/just-in-case.jpg" class="img-fluid rounded-4" alt="just-in-case" loading="lazy" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="card border-0 shadow-sm rounded-4">
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                e-newsletter 2022
                            </button>
                        </h2>
                        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">FEB. 2022</small>
                                                        <p class="mb-2">Just in! Case, Vol 4, Issue 01, FEB 2022</p>

                                                        <p class="fs17">
                                                            We are happy to present the FEB 2022 edition of our e-newsletter – Just in! Case. In the Featured Case section, we present two cases: one on an FMCG major’s journey in putting sustainability at the core of its business strategy and the other on a banking major’s exit from its consumer business in India.
                                                        </p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                e-newsletter 2021
                            </button>
                        </h2>
                        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">Aug. 2021</small>
                                                        <p class="mb-2">Just in! Case, Vol 3, Issue 03, Aug 2021</p>

                                                        <p class="fs17">
                                                            We are happy to present the August 2021 edition of our e-newsletter – Just in! Case. In the Featured Case section, we present two cases: one on an FMCG major’s journey in putting sustainability at the core of its business strategy and the other on a banking major’s exit from its consumer business in India.
                                                        </p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">May 2021</small>
                                                        <p class="mb-2">Just in! Case, Vol 3, Issue 02, May 2021</p>

                                                        <p class="fs17">The doyen of case research and teaching is no longer with us. Prof (Dr) Debapratim Purkayastha passed away due to COVID-19 on May 07, 2021. In this edition of Just in! Case, we pay a tribute to the legend. Our Featured Case, SC Johnson and the Global Ocean Plastic Crisis,</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">Feb. 2021</small>
                                                        <p class="mb-2">Just in! Case, Vol 3, Issue 01, Feb 2021</p>

                                                        <p class="fs17">On the occasion of the #WorldCaseTeachingDay, we are happy to present the second anniversary issue of Just-in-Case! We provide information on our 2020 classic and bestselling cases. In 2020, IBS was the most successful Institute in terms of total number of worldwide bestselling cases,</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                e-newsletter 2020
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">Nov. 2020</small>
                                                        <p class="mb-2">Just in! Case, Vol 2, Issue 04, Nov 2020</p>

                                                        <p class="fs17">In this issue of Just in! Case, we provide information on our new and bestselling cases in Q2’FY21. “Bose Corporation’s Competitive Advantages and its Shift to an Online-Only Model” is one of the Featured Cases. In the Perspectives section, we speak to Rebecca Morris, Professor of Strategic and International</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">Aug. 2020</small>
                                                        <p class="mb-2">Just in! Case, Vol 2, Issue 03, Aug 2020</p>

                                                        <p class="fs17">In this issue of Just in! Case, we provide information on our new and best-selling cases in Q1’FY21. “Amazon.com, Inc.: Tackling Challenges and Building Resilience amidst the Covid-19 Pandemic” is one of the Featured Cases. In the Perspectives section, we speak to Dr. Urs Muller,</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">May. 2020</small>
                                                        <p class="mb-2">Just in! Case, Vol 2, Issue 02, May 2020</p>

                                                        <p class="fs17">In this issue of Just in! Case, we present to you information on our new and best-selling cases in Q4’FY20. ‘Domino’s Business Continuity Strategy during the COVID-19 Pandemic’ is one of the Featured Cases. In the Perspectives section, we speak to Dr. Vijaya Narapareddy,</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">Feb. 2020</small>
                                                        <p class="mb-2">Just in! Case, Vol 2, Issue 01, Feb 2020</p>

                                                        <p class="fs17">On the occasion of the #WorldCaseTeachingDay, we are happy to present the first anniversary issue of Just-in-Case! In loving memory of our founder, Late. Mr. N J Yasaswy, we present to you excerpts from 8th N J Yasaswy Memorial Lecture on ‘Teaching Cases: Vision, Realisation and Impact’</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                e-newsletter 2019
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">Nov. 2019</small>
                                                        <p class="mb-2">Just in! Case, Vol 1, Issue 04, Nov 2019</p>

                                                        <p class="fs17">In this issue of Just in! Case, we present to you information on our new and best-selling cases in Q2’FY20. In the Perspectives section, we speak to Todd Bridgman, Associate Professor of Organisational Behaviour in the School of Management at Victoria University of Wellington, New Zealand. Todd’s</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">Aug. 2019</small>
                                                        <p class="mb-2">Just in! Case, Vol 1, Issue 03, Aug 2019</p>

                                                        <p class="fs17">In this issue of Just in! Case, we present to you information on our new and best-selling cases in Q1’FY20. In the Perspectives section, we speak to Jamie Rundle, an educator and academic at the Sheffield University Management School, UK, where he divides his time between teaching strategic management</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">May. 2019</small>
                                                        <p class="mb-2">Just in! Case, Vol 1, Issue 02, May 2019</p>

                                                        <p class="fs17">In this issue of Just in! Case we present to you information on our new and best-selling cases for Q4 FY19 and award-winning cases. You can also read about our upcoming book on corporate sustainability.In the Perspective section, we speak to Dr. Helen Deresky author of “International Management</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <figure>
                                                    <blockquote class="blockquote">
                                                        <small class="text-warning-emphasis mb-1 fw-bold">February. 2019</small>
                                                        <p class="mb-2">Just in! Case, Vol 1, Issue 01, February 2019</p>

                                                        <p class="fs17">On the occasion of the first World Case Teaching Day, we are happy to present the first edition of our e-newsletter. The case method of teaching and learning has inspired millions of teachers and students alike and we are proud to be associated with this powerful pedagogical tool!</p>
                                                    </blockquote>

                                                </figure>
                                                <div class="float-end">
                                                    <a href="#" class="btn btn-danger" target="_blank">
                                                        <i class="bi bi-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
