@{
    ViewBag.Title = "Management Development Programs";
    ViewBag.MetaDescription = "management development programs and faculty development programs - IBS Hyderabad";
    ViewBag.MetaKeywords = "management development programs, faculty development programs";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "mdp-fdp";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Services</li>
                        <li>MDPs/FDPs</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 mx-auto">
                <h4>Management Development Program | <br /> Faculty Development Program</h4>
                <h6 class="mb-3">Enquire Now:</h6>
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-10 mx-auto">
                                <div class="mb-3">
                                    <label for="name" class="form-label mb-1">Your Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Name" name="Name" size="25" maxlength="50">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label mb-1">Email address</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email" name="Email Address" size="25" maxlength="50">
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label mb-1">Your Telephone</label>
                                    <input type="tel" id="phone" class="form-control" placeholder="Telephone" name="Telephone No" size="25" maxlength="50">

                                </div>
                                <div class="mb-3">
                                    <label for="Message" class="mb-1">Your Message</label>
                                    <textarea class="form-control" placeholder="Message" id="Message" cols="24" name="Message" rows="6"></textarea>

                                </div>
                                <div class="text-end mb-2">
                                    <input type="submit" class="btn btn-danger" value="Submit" name="Submit">
                                </div>
                                <p>For more details, please write a mail to <strong><a class="text-danger" href="mailto:casehelpdesk@ibsindia.org">casehelpdesk@ibsindia.org</a></strong></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

