
@{
    ViewBag.Title = "MediaRoom";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "mediadetailpage";
}
<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Media</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="">
    <div class="container bg-container shadow-sm">
        <div class="row">

            <div class="col-xl-8 col-lg-8 col-md-8 col-12">

                <div class="Title-Heading" data-aos="fade-up" data-aos-delay="100">
                    <h2 class="title"><i class="bi bi-megaphone"></i> Media Details</h2>
                </div>
                <ul class="d-flex list-type-none" style="list-style-type:none;padding-left:0" data-aos="fade-up">
                    <li class="me-4">
                        <i class="bi bi-clock"></i>  Apr 04, 2025
                    </li>
                </ul>
                <h3 data-aos="fade-up">
                    17th International Business and Finance (ICBF-2025)
                </h3>
                <p class="text-secondary" data-aos="fade-up">
                    Emerging Challenges in Business and Finance
                </p>
                <a data-aos="fade-up" class="btn btn-warning" href="" target="_blank">
                    View More
                </a>



            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 m-auto" data-aos="fade-up">

                <img src="https://test.icfaiuniversity.in/assets/img/2024/ICETAO-2025.jpg" alt="17th International Business and Finance (ICBF-2025)" class="img-fluid">
            </div>

        </div>
    </div>
</section>


