@{
    ViewBag.Title = "Mr. Sanjib Dutta";
    ViewBag.MetaDescription = "Mr. Sanjib Dutta";
    ViewBag.MetaKeywords = "Mr. Sanjib Dutta";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "profile-sanjib-dutta";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>About Us</li>
                        <li>Sanjib Dutta Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-xl-12">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="d-md-flex d-sm-table-row">
                            <div class="me-4">
                                <img src="~/assets/img/faculty-profiles/Sanjib_Dutta-1.jpg" class="img-rounded rounded mb-3" width="200" height="200" alt="Sanjay-Fuloria" />
                            </div>
                            <div>
                                <h3 class="fs-5">Sanjib Dutta</h3>
                                <p class="mb-0">
                                    <span class="fw-bold">Designation: </span>
                                    Associate Professor
                                </p>
                                <p class="mb-0">
                                    <span class="fw-bold"> Teaching Areas:</span> Business Strategy
                                </p>
                                <p class="mb-0">
                                    <span class="fw-bold">
                                        Research Interests:
                                    </span>
                                    Social entrepreneurship Sustainable business models Digital business strategy
                                </p>
                                <p class="mb-0">
                                    <span class="fw-bold">Education:</span>
                                    Ph.D., (Pursuing) Advanced Diploma in Management, All India Management Association, New Delhi, 2020 M.B.A, University of Ljubljana, Slovenia, 1998
                                    M.A., North Eastern Hill University, Shillong, 1996

                                </p>

                            </div>
                        </div>

                        <p class="mt-3">
                            <span class="fw-bold">Research/Selected Publication:</span>
                        </p>
                        <ol>
                            <li>
                                Hadiya Faheem & Sanjib Dutta, “Iman Hadi and Friends of the Environment Station: Lighting up Homes in
                                Yemen”. Ivey Publishing. Published on 02 February, 2024
                            </li>
                            <li>
                                Munmun Samantarai, Sanjib Dutta, “Katherine Lucey and Solar Sister: empowering women in subSaharan Africa to create clean energy businesses”. The CASE Journal, Emerald Publishing. Published on
                                04 December, 2023.
                            </li>
                            <li>
                                Abhishek Sinha, Ranajee Ranajee, Sanjib Dutta, “Apollo 24/7 – A chink in Apollo Hospitals’ armour?”
                                Emerald Emerging Markets Case Studies. Emerald Publishing. Published on 06 December, 2023
                            </li>
                            <li>
                                Hadiya Faheem & Sanjib Dutta, “Diversity, Equity, and Inclusion Initiatives at Levi Strauss & Co.: Are They
                                Enough?” WDI Publishing, William Davidson Institute at the University of Michigan. Published on 14
                                September, 2023
                            </li>
                            <li>
                                Hadiya Faheem & Sanjib Dutta, “Temie Giwa-Tubosun of LifeBank: creating the future of health-care
                                supply chain in Africa powered by technology” The Case for Women, Emerald Publishing. Published on 11
                                September, 2023.
                            </li>
                            <li>
                                Hadiya Faheem & Sanjib Dutta, “mPharma: Health-Tech Start-up Makes Medicines Affordable and
                                Accessible to Patients in Africa”. Emerald Emerging Markets Case Studies. Emerald Publishing. Published
                                on 08 March 2023.
                            </li>
                            <li>
                                Hadiya Faheem & Sanjib Dutta, “Albert Bourla: Leading Pfizer’s Successful Vaccine Rollout to Tackle the
                                Covid-19 Pandemic”. The CASE Journal, Emerald Publishing. Published on 06 September, 2022.
                            </li>
                            <li>
                                Hadiya Faheem & Sanjib Dutta, “Katerina Kimmorley and Pollinate Group: eradicating energy poverty by
                                empowering women through solar energy” The Case for Women, Emerald Publishing. Published on 18
                                May, 2022.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>