@{
    ViewBag.Title = "ICMR Management Cases - Center of Excellence - IBS Hyderabad";
    ViewBag.MetaDescription = "ICMR, a center of excellence at IBS Hyderabad, is a premier case development center developing high-quality teaching cases in Management. ICMR case studies have found extensive usage around the world";
    ViewBag.MetaKeywords = "Center of Excellence, Management Case Study Repository, B-school case study method, quality management cases, award winning management cases, winner in global case writing competitions";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "publications";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Publications</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="bg-body-tertiary p-4 rounded-4">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-6 col-12">
                    <div class="Title-Heading">
                        <h2>
                            Publications
                        </h2>
                    </div>
                    <p class="text-justify">
                        Around 300 CRC case studies have been published in reputed international
                        textbooks. Many CRC cases
                        have been translated into other languages such as Spanish, Russian, French, German, Chinese, Serbian,
                        Portuguese, and Arabic. CRC
                        cases are frequently published in peer-reviewed case journals such as Emerald Publishing’s Emerging
                        Markets Case Studies and The
                        CASE Journal. CRC cases are also distributed by the global case distributors, Harvard Business Publishing,
                        Ivey Publishing, WDI
                        Publishing and The Case Centre. Cases authored by CRC faculty members are also available on
                        ChinaCases.org, the China Europe
                        International Business School’s global platform of China cases.
                    </p>

                    <div class="Publisher-Logos-section">
                        <h3>Our Publisher</h3>
                        <div class="Publisher-Logos mt-3">
                            <div class="wrapper">
                                <div class="carouselPublisherlogs owl-carousel">
                                    <div class="card">
                                        <img src="~/assets/img/publication-logo/emerald.jpg" alt="emerald" fetchpriority="low" />
                                    </div>
                                    <div class="card">
                                        <img src="~/assets/img/publication-logo/emerald-Insight.jpg" alt="emerald-Insight" fetchpriority="low" />
                                    </div>
                                    <div class="card">
                                        <img src="~/assets/img/publication-logo/ivey.jpg" alt="ivey" fetchpriority="low" />
                                    </div>
                                    <div class="card">
                                        <img src="~/assets/img/publication-logo/Scopus.jpg" alt="Scopus" fetchpriority="low" />
                                    </div>
                                    <div class="card">
                                        <img src="~/assets/img/publication-logo/AIMA.jpg" alt="AIMA" fetchpriority="low" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-xl-4 col-md-6 col-12">
                    <div class="img-set mt-1 sticky-top1">
                        <img src="~/assets/img/publications.jpg" class="img-fluid rounded-4" alt="publications" loading="lazy" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="card border-0 shadow-sm rounded-4">
            <div class="card-body">
                <h3 class="mb-3">Publications in Journals and Global Case Publishing Houses</h3>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Publications 2024
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-xl-6  g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/tcj-05-2024-0136/full/html"
                                                       class="">
                                                        Lynn Good’s green dilemma: leading Duke Energy’s transition, The CASE Journal, Emerald
                                                        Publishing, 2024
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/tcj-05-2024-0148/full/html"
                                                       class="">
                                                        Lorna Rutto’s EcoPost: creating a sustainable solution to Kenya’s plastic waste
                                                        problem.The CASE Journal, Emerald Publishing,2024
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/eemcs-04-2024-0185/full/html"
                                                       class="">
                                                        GREEN WATECH: low-cost technology for wastewater treatment.The CASE Journal, Emerald
                                                        Publishing, 2024
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/eemcs-12-2023-0496/full/html"
                                                       class="">
                                                        Byju’s in trouble.The CASE Journal, Emerald Publishing,2024
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/eemcs-04-2024-0161/full/html"
                                                       class="">
                                                        Empowering farmers and enhancing sustainability: Inaru’s impact on the Dominican cocoa
                                                        industry.The CASE Journal, Emerald Publishing, 2024
                                                    </a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6  g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/tcj-04-2023-0073/full/html"
                                                       class="">
                                                        Kimberly Bryant’s Black Girls Code: closing the opportunity gap in technology for black
                                                        women and girls.The CASE Journal, Emerald Publishing, 2024
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/tcj-04-2024-0096/full/html"
                                                       class="">
                                                        Maggie Timoney of Heineken: shattering the glass ceiling and forging a new path.The CASE
                                                        Journal, Emerald Publishing, 2024
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/eemcs-01-2024-0023/full/html"
                                                       class="">
                                                        Florasis: the emerging C-beauty brand.Emerald Emerging Markets Case Studies, Emerald
                                                        Publishing, 2024
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/eemcs-04-2024-0181/full/html"
                                                       class="">
                                                        Kavak: a Latin American startup aiming to disrupt the used-car market across emerging
                                                        economies.Emerald Emerging Markets Case Studies, Emerald Publishing, 2024
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.iveypublishing.ca/s/product/iman-hadi-and-friends-of-the-environment-station-lighting-up-homes-in-yemen/01tOF000004r77WYAQ"
                                                       class="">
                                                        Iman Hadi and Friends of the Environment Station: Lighting up Homes in Yemen.Ivey
                                                        Publishing, 2024
                                                    </a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Publications 2023
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">

                                    <div class="col-md-6 col-lg-6 col-xl-6  g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/eemcs-04-2023-0135/full/html"
                                                       class="">
                                                        Strategic planning process at Byju’s.Emerald Emerging Markets Case Studies, Emerald
                                                        Publishing, 2023
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/eemcs-04-2023-0131/full/html"
                                                       class="">
                                                        Apollo 24/7 – A chink in Apollo Hospitals’ armour?.Emerald Emerging Markets Case Studies,
                                                        Emerald Publishing,2023
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/eemcs-04-2022-0113/full/html"
                                                       class="">
                                                        mPharma: health-tech start-up makes medicines affordable and accessible to patients in
                                                        Africa.Emerald Emerging Markets Case Studies, Emerald Publishing,2023
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/tcj-04-2023-0069/full/html"
                                                       class="">
                                                        Melanie Perkins: poised to redesign Canva from tech unicorn to tech giant?.The CASE
                                                        Journal, Emerald Publishing, 2023
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/tcj-04-2023-0083/full/html"
                                                       class="">
                                                        Katherine Lucey and Solar Sister: empowering women in sub-Saharan Africa to create clean
                                                        energy businesses.The CASE Journal, Emerald Publishing,2023
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/cfw-07-2022-0026/full/html"
                                                       class="">
                                                        Rosalind Brewer – the leadership journey.The Case for Women, Emerald Publishing,2023
                                                    </a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6  g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/cfw-07-2022-0020/full/html"
                                                       class="">
                                                        Lisa Su’s strategic leadership: Will she change her approach post Xilinx and Pensando
                                                        acquisitions?.The Case for Women, Emerald Publishing,2023
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/cfw-07-2022-0022/full/html"
                                                       class="">
                                                        Malala Yousafzai: promoting girls’ education in conflict-affected countries.The Case for
                                                        Women, Emerald Publishing,2023
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/cfw-07-2022-0019/full/html"
                                                       class="">
                                                        Timnit Gebru: seeking to promote diversity and ethics in AI.The Case for Women, Emerald
                                                        Publishing,2023
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/cfw-07-2022-0016/full/html"
                                                       class="">
                                                        Sumaira Latif at P&G: pioneering inclusive design and accessibility to all.The Case for
                                                        Women, Emerald Publishing,2023
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/cfw-07-2022-0017/full/html"
                                                       class="">
                                                        Temie Giwa-Tubosun of LifeBank: creating the future of health-care supply chain in Africa
                                                        powered by technology.The Case for Women, Emerald Publishing.2023
                                                    </a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Publications 2022
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">

                                    <div class="col-md-6 col-lg-6 col-xl-6  g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/cfw.2022.000010/full/html"
                                                       class="">
                                                        Katerina Kimmorley and Pollinate Group: eradicating energy poverty by empowering women
                                                        through solar energy.The Case for Women, Emerald Publishing,2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/cfw.2022.000001/full/html"
                                                       class="">
                                                        Poppy Gustafsson: redefining cybersecurity through AI.The Case for Women, Emerald
                                                        Publishing, 2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/cfw.2022.000006/full/html"
                                                       class="">
                                                        Kiran Mazumdar-Shaw: the woman behind the success of Biocon.The Case for Women, Emerald
                                                        Publishing, 2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.emerald.com/insight/content/doi/10.1108/tcj-01-2022-0023/full/html"
                                                       class="">
                                                        Albert Bourla: leading Pfizer’s successful vaccine rollout to tackle the Covid-19
                                                        pandemic,The CASE Journal, 2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="#"
                                                       class="">
                                                        Relationship between Financial Inclusion, Financial Attitude and Financial Self
                                                        Efficacy.The Indian Economic Journal; Vol.3 (2), No.74, Page 171, December 2022 , Sage,
                                                        Scopus
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="#"
                                                       class="">
                                                        Covid- 19 and Informal workers in India- An Empirical Study.The Indian Economic Journal;
                                                        Vol: 1 (1), No. 14, Page 166, December 2022 , Sage, Scopus,2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="#"
                                                       class="">
                                                        RMSME Sector in Jharkhand: Schemes, Challenges and Opportunities.The Indian Economic
                                                        Journal; Vol 6.No.10, Page 78, 2022 , Sage, Scopus, 2022
                                                    </a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-xl-6  g-2">
                                        <div class="card border-0 shadow h-100">
                                            <div class="card-body">
                                                <p>
                                                    <a target="_blank" href="https://spast.org/techrep/article/view/2935"
                                                       class="">
                                                        Changing Consumer Dynamics: A Study of Online Food Delivery Platforms During the COVID-19
                                                        Pandemic in India.ECS - The Eectrochemical Society- Iop science
                                                        ECS Transactions, Volume 107, Number 1, Page 947, 2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://www.caseresearchaima.in/frontend/product_display/530"
                                                       class="">
                                                        WayCool’s Phygital Business Model: Using Digital Technologies to Solve The Perennial
                                                        Problems in India’s Agricultural Supply Chain.AIMA ICRC , 2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="#"
                                                       class="">
                                                        SHEIN: Redefining Global Fast Fashion.ChinaCases.Org, 2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="#"
                                                       class="">
                                                        Meituan: A Chinese Online Delivery Platform’s Unfair Business Practices.ChinaCases.Org,
                                                        2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="#"
                                                       class="">
                                                        Nongfu Spring: Can the Chinese Bottled Water Market Leader Sustain its Position? Global
                                                        Platform of China Cases.ChinaCases.Org, 2022
                                                    </a>
                                                </p>
                                                <p>
                                                    <a target="_blank" href="https://iopscience.iop.org/article/10.1149/10701.0947ecst/meta"
                                                       class="">
                                                        Changing Consumer Dynamics: A Study of Online Food Delivery Platforms During the COVID
                                                        Pandemic in India. 1st International Conference on Technologies for Smart Green Connected
                                                        Society, SCOPUS indexed conference proceedings, Volume 107, Issue 1, Pages 947 – 957,
                                                        2022
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>