@{
    ViewBag.Title = "ICMR - Reprints and Permission";
    ViewBag.MetaDescription = "Re-Print Permission, casebooks, case packs, e-books, external textbooks, external casebooks, reprint icmr cases";
    ViewBag.MetaKeywords = "ICMR provides non-exclusive one time reprint permissions to reprint our cases in lieu of a fee (US $500 to $1000). The cases should be reprinted in full and not modified in any way";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "reprint-permission";
}

<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>
                            Reprint Permission
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container">
        <div class="row mb-3">
            <div class="col-xl-12">
                <h2 class="mb-2">Re-Print Permission</h2>
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body">
                        <p class="mb-2 text-justify">While ICMR regularly comes out with casebooks, case packs, and e-books comprising our cases, we have witnessed a high demand for our cases for inclusion in external textbooks and casebooks published by leading publishers. We regularly receive requests from authors and publishers seeking non-exclusive reprint permissions for our cases. Many of our cases are published in some of the most well-known and well-referenced international textbooks.</p>
                        <p class="mb-2">ICMR provides non-exclusive one time reprint permissions to reprint our cases in lieu of a fee (US $500 to $1000). The cases should be reprinted in full and not modified in any way. For reprint permissions contact us.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="contact">
            <div class="row">
                <div class="col-xl-4 col-xl-4 col-md-4 col-12 mb-3">
                    <div class="card border-0 shadow-sm rounded-4 h-100">
                        <div class="info-box ">
                            <i class="bi bi-geo-alt"></i>
                            <h4 class="mt-2">Contact Us</h4>
                            <p class="mb-2">IBS Center for Management Research (ICMR),</p>
                            <p class="mb-2">IFHE Campus, Donthanapally, Shankarapalli Road,</p>
                            <p class="mb-2">Hyderabad-501 504, Telengana</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-xl-4 col-md-4 col-12 mb-3">
                    <div class="card border-0 shadow-sm rounded-4 h-100">
                        <div class="info-box">
                            <i class="bi bi-telephone"></i>
                            <h4 class="mt-2">Call Us</h4>
                            <p class="mb-2">
                                +91 - 9640901313
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-xl-4 col-md-4 col-12 mb-3">
                    <div class="card border-0 shadow-sm rounded-4 h-100">
                        <div class="info-box ">
                            <i class="bi bi-envelope"></i>
                            <h4 class="mt-2">Email</h4>
                            <p class="mb-2"><a href="mailto:casehelpdesk@ibsindia.org">casehelpdesk@ibsindia.org</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

