@{
    ViewBag.Title = "ICMR - Sitemap";
    ViewBag.MetaDescription = "ICMR Sitemap";
    ViewBag.MetaKeywords = "sitemap, icmr";

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = "sitemap";
}

<section class="Common-Section">

    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0" data-aos="fade-up">
                    <ol>
                        <li><a href="~/">Home</a></li>
                        <li>Sitemap</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sitemap-section" data-aos="fade-up">
    <div class="container">
        <div class="heading-border">
            <h2>IBS Center for Management Research Sitemap</h2>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <div class="mb-3">
                            <p class="mb-1">About Us</p>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/about-ibs-case-research-center">About ICMR </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="mb-1">ICMR in the News</p>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">ICMR News </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/careers">Careers@ICMR </a>
                            </div>

                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Contact ICMR</p>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/terms-of-use">Terms of Use </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/privacy-policy">Privacy Policy </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/contact-us">Contact Us </a>
                            </div>

                        </div>
                        <div class="mb-3">
                            <p class="mb-1">FAQs</p>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/faqs">FAQs </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Our Services</p>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/icmr-services">Knowledge Partnership Services </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/icmr-services">Business Research </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/icmr-services">Management Consulting </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Case Studies</p>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Business Ethics </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Business Strategy </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Business Environment </a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Corporate Governance </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Economics </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Enterprise Risk Management </a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Finance </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Human Resource Management, Innovation </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Insurance </a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">IT and Systems </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Leadership & Entrepreneurship </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Marketing </a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Operations </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Project Management </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Disaster Management </a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Family Business Management </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Women Empowerment </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Sustainability </a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Law </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Business Reports </a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Multimedia Case Study </a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Miscellaneous </a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Case Study Method</p>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Learning with Cases</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Cases in Text Books</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Best Selling Cases</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Institutions using ICMR Cases</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Companies using ICMR Cases</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Courseware</p>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">ICMR Text Books</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">ICMR Work Books</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">ICMR Book of Readings</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Teaching Kits</a>
                            </div>

                        </div>
                        <div class="mb-3">
                            <p class="mb-1">More Classifications</p>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Detailed Subject-Wise Listing</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Company-Wise Listing</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/icmr-case-pricing">Pricing Information</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Short Case Studies</p>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Business Ethics</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Business Environment</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Business Strategy</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Consumer Behavior</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Human Resource Management</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Industrial Marketing</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">International Marketing</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">IT and Systems</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Marketing Communications</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Marketing Management</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Miscellaneous</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Operations</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Sales and Distribution Management</a>
                            </div>

                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Services Marketing</a>
                            </div>

                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Simplified Case Studies</p>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Simplified Case Studies</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Case Study Volumes</p>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">ICMR Case Book Collection</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Case Catalogs</p>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Complete Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Business Strategy Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/assets/pdf/CaseCatlog/Business-Ethics-Case-Catlog.pdf" target="_blank">Business Ethics Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/assets/pdf/CaseCatlog/IT-and-Systems-Case-Catlog.pdf" target="_blank">IT Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Operations Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/assets/pdf/CaseCatlog/Leadership-CaseCatlog.pdf" target="_blank">Leadership Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/assets/pdf/CaseCatlog/Insurance-Case-Catlog.pdf" target="_blank">Insurance Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/assets/pdf/CaseCatlog/Human-Resources-Case-Catlog.pdf" target="_blank">HRM Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/assets/pdf/CaseCatlog/Finance-Case-Catlog.pdf" target="_blank">Finance Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/assets/pdf/CaseCatlog/Corporate-Governance-Case-Catlog.pdf" target="_blank">Corporate Governance Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="~/assets/pdf/CaseCatlog/Economics-Politics-and-Business-Environment-Case-Catlog.pdf" target="_blank">Economics Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Miscellaneous Case Catalog</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Project Management Case Catalog</a>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="mb-1">Free Resources</p>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Case Studies</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Articles</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Book Reviews</a>
                            </div>
                            <div class="card  border-0 shadow-sm d-inline-block  px-3 py-2 ms-2 mb-2">
                                <a class="sitemap-link" href="">Glossary</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>