@{
    ViewBag.Title = "Change Password";
}




<section class="Common-Section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                <div class="breadcrumbs pb-0 aos-init aos-animate" data-aos="fade-up">
                    <ol>
                        <li><a href="~/User/UserHome">Home</a></li>
                        <li>Change Password</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section profile dashboard py-5">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card shadow-lg border-0" style="width: 100%; max-width: 600px;">
            <div class="card-body p-4">
                <h3 class="text-center mb-4">Change Password</h3>
                 

                @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                {
                    <div class="form-group mb-3">
                        <label for="NewPassword">New Password</label>
                        <input type="password" name="NewPassword" class="form-control" required />
                    </div>

                    <div class="form-group mb-3">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input type="password" name="ConfirmPassword" class="form-control" required />
                    </div>
                    <div class="text-center">

                    <button type="submit" class="btn btn-danger">Update Password</button>
                    </div>
                }


            </div>
        </div>
    </div>
</section>








@section Scripts {
    <script>
        window.onload = function () {
            var message = '@ViewBag.Message';
            if (message) {
                alert(message); // or use SweetAlert / Toast here
            }
        };
    </script>
}
