@{
    ViewBag.Title = "UserHome";
}

<section>
    <div class="container">
        <h3>User Dashboard</h3>
        <div class="row">
            <div class="col-md-3 mb-3">
                <a href="~/User/UserProfile">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-person fs-4"></i>  Profile
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="~/User/UserDashboard">

                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-list-check fs-4"></i> Orders
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="~/User/ChangePassword">

                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-pencil-square fs-4"></i> Change Password
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="~/User/UserLogin">

                    <a href="~/User/Logout">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <i class="bi bi-box-arrow-in-right fs-5"></i> LogOut
                            </div>
                        </div>
                    </a>

                </a>
            </div>
        </div>

    </div>
</section>


