
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row  ">
                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Admin/AddEvents">Add Event <i class="bi bi-box-arrow-up-right ms-3"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Admin/Events">Event List <i class="bi bi-box-arrow-up-right ms-3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Admin/AddProfiles">Add Faculty Profile <i class="bi bi-box-arrow-up-right ms-3"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Admin/Profiles">Faculty Profile List <i class="bi bi-box-arrow-up-right ms-3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row  ">
                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Admin/AddFullCaseStudies">Add Full Case <i class="bi bi-box-arrow-up-right ms-3"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Admin/DisplayFullCaseStudies">Full Case List <i class="bi bi-box-arrow-up-right ms-3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row  ">
                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Admin/AddShortCaseStudies">Add Short Case <i class="bi bi-box-arrow-up-right ms-3"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Admin/DisplayShortCases">Short Case List  <i class="bi bi-box-arrow-up-right ms-3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="row  ">
                    <div class="col-md-12 mb-3">
                        <div class="card border-0 shadow-sm h-100">
                            <div class="card-body">
                                <a href="~/Admin/DisplayItemDetails">User Details <i class="bi bi-box-arrow-up-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        
                                <div class="row  ">
                                    <div class="col-md-12 mb-3">
                                        <div class="card border-0 shadow-sm h-100">
                                            <div class="card-body">
                                                <a href="~/Admin/AddEbookCases">Add Ebook Cases<i class="bi bi-box-arrow-up-right ms-3"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <div class="card border-0 shadow-sm h-100">
                                            <div class="card-body">
                                                <a href="~/Admin/DisplayEBookDetails">Reports Ebook Cases<i class="bi bi-box-arrow-up-right ms-3"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                    </div>
                </div>
            </div>

            
            <div class="col-md-4 mb-3">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="row  ">
                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Admin/AddTextBooks">Add Text Books<i class="bi bi-box-arrow-up-right ms-3"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <div class="card border-0 shadow-sm h-100">
                                    <div class="card-body">
                                        <a href="~/Home/DisplayTextBooks">Text Books List<i class="bi bi-box-arrow-up-right ms-3"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>

