
@{
    ViewBag.Title = "_Footer";
}






<footer id="footer" class="footer bg-blue-color pb-4">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="logo-card border rounded-1 mb-3">
                    <div class="p-2">
                        <a href="~/" class="logo d-flex align-items-center">
                            <img src="~/assets/img/ICMR.svg" alt="ICMR" loading="lazy" class="img-fluid" />
                        </a>
                    </div>
                </div>
                <h4 class="text-warning">Mailing Address</h4>
                <div class="d-flex mb-2">
                    <div class="mt-1">
                        <i class="bi bi-pin-map-fill"></i>
                    </div>
                    <div class="ms-2">
                        <p class="mb-0">Case Research Center - IBS Hyderabad,</p>
                        <p class="mb-0">IBS City Office, Plot No - 52, Nagarjuna</p>
                        <p class="mb-0">Hills, Punjagutta, Hyderabad - 82, India</p>
                    </div>
                </div>

                <div class="d-flex">
                    <p class="mt-1 mb-2"><i class="bi bi-telephone"></i></p>
                    <p class="ms-2 mb-2">+91- 9640901313</p>
                </div>
                <div class="d-flex">
                    <p class="me-2 mt-1 mb-2">
                        <i class="bi bi-envelope"></i>
                    </p>
                    <a class="text-white" href="mailto:casehelpdesk@ibsindia.org">casehelpdesk@ibsindia.org</a>
                </div>
                <div class="d-flex">
                    <p class="me-2 mb-2"><i class="bi bi-person-rolodex"></i></p>
                    <a href="~/contact-us" class="text-white">Contact Us</a>
                </div>
                <div class="social-links mt-3 mb-3">
                    <h4 class="text-warning">Follow Us</h4>
                    <div class="d-flex">
                        <a rel="noreferrer" title="facebook" href="https://www.facebook.com/profile.php?id=100004166084442" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a rel="noreferrer" title="twitter" href="https://twitter.com/caseresearch" target="_blank"><i class="bi bi-twitter-x"></i></a>
                        <a rel="noreferrer" title="linkedin" href="https://www.linkedin.com/in/case-research-center-17a50456/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a rel="noreferrer" title="youtube" href="https://www.youtube.com/channel/UCKenE7f8_dP4eqwRg8FeoPw" target="_blank"><i class="bi bi-youtube"></i></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
                <h4 class="text-warning">Our Services</h4>
                <ul>
                    <li>
                        <i class="bi bi-chevron-right"></i>
                        <a href="~/icmr-case-pricing" class="text-white">
                            Subscription for B Schools and Corporates <br />
                            (Annual Licensing)
                        </a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/reprint-permission" class="text-white">Reprint Permission</a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/case-writing-workshops" class="text-white">Case Writing Workshops</a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/customized-case-studies" class="text-white">Customized Case Studies</a>
                    </li>
                </ul>
                <hr />
                <div class="mt-4">
                    <ul>
                        <li>
                            <i class="bi bi-box-arrow-up-right me-2"></i> <a href="#" title="Subscription" onclick="window.open('https://icmrindia.org/icmr-subscribe.htm', null,'height=550,width=600,status=NO,' +'toolbar=no,menubar=no,location=no,scroll=yes')" class="text-white mt-1">Subscribe to Newsletter</a>
                        </li>
                        <li>
                            <i class="bi bi-box-arrow-up-right me-2"></i> <a href="#" title="Unsubscribe" onclick="window.open('https://icmrindia.org/', null,'height=650,width=600,status=NO,' +'toolbar=no,menubar=no,location=no,scroll=yes')" class="text-white mt-1">Unsubscribe</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-4 col-md-6 footer-links">
                <h4 class="text-warning">Information</h4>
                <ul>

                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/privacy-policy" class="text-white">Privacy Policy</a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/disclosure" class="text-white">Disclosure</a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/terms-of-use" class="text-white">Terms of Use</a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/faqs" class="text-white">FAQs</a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/careers" class="text-white">Careers</a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="#" title="Working Hours Holidays" onclick="window.open('https://icmrindia.org/holidays.htm', null,'height=650,width=600,status=NO,' +'toolbar=no,menubar=no,location=no,scroll=yes')" class="text-white">Working Hours/Holidays</a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/payment-methods" class="text-white">Our Payment Methods</a>
                    </li>
                    <li>
                        <i class="bi bi-chevron-right"></i> <a href="~/sitemap" class="text-white">Sitemap</a>
                    </li>
                </ul>


            </div>

        </div>


        <div class="card case-list mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <h6 class="mb-1 text-decoration-underline">
                        Case Related Links:
                    </h6>
                    <a href="" class="case_list">Pricing </a>
                    <span class="mx-1">|</span>
                    <a href="" class="case_list">How to Order</a>
                    <span class="mx-1">|</span>
                    <a href="" class="case_list">Industry Wise Case Studies</a>
                    <span class="mx-1">|</span>
                    <a href="" class="case_list">
                        Company Wise Case Studies
                    </a>
                    <span class="mx-1">|</span>
                    <a href="" class="case_list">Case Study Method</a>
                    <span class="mx-1">|</span>
                    <a href="" class="case_list">Prize Winning Case Studies</a>
                    <span class="mx-1">|</span>
                    <a href="" class="case_list">International Publication</a>
                    <span class="mx-1">|</span>
                    <a href="" class="case_list">Global Users</a>
                    <span class="mx-1">|</span>
                    <a href="" class="case_list">ICMR News</a>
                </div>

            </div>
        </div>

        <div class="card case-list mb-3">
            <div class="card-body">

                <div class="mb-3">
                    <h6 class="mb-1 text-decoration-underline">Case Studies Collection:</h6>
                    <a href="#" class="">Business Strategy</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Marketing</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Finance</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Human Resource Management</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">IT and Systems</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Operations</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Economics</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Leadership and Entrepreneurship</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Project Management</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Business Ethics</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Corporate Governance</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Women Empowerment</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">CSR and Sustainability</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Law</a>
                    <span class="mx-1">|</span>
                    <a href="~/business-environment" class="">Business Environment</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Enterprise Risk Management</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Insurance</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Innovation</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Miscellaneous</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Business Reports</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Multimedia Case Studies</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Cases in Other Languages</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Simplified Case Studies</a>
                </div>

            </div>
        </div>

        <div class="card case-list mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <h6 class="mb-1 text-decoration-underline">Short Case Studies:</h6>
                    <a href="" class="">Business Ethics</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Business Environment</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Business Strategy</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Consumer Behavior</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Human Resource Management</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Industrial Marketing</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">International Marketing</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">IT and Systems</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Marketing Communications</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Marketing Management</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Miscellaneous</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Operations</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Sales and Distribution Management</a>
                    <span class="mx-1">|</span>
                    <a href="" class="">Services Marketing</a>
                    <span class="mx-1">|</span>
                    <a href="" class=""> Economics </a>
                    <span class="mx-1">|</span>
                    <a href="" class=""> Finance </a>
                </div>
            </div>
        </div>


    </div>

</footer>
<footer id="footer" class="footer">
    <div class="container-fluid  text-white">
        <div class="container ">
            <div class="copyright p-3">
                Copyright © 2025 - All Rights Reserved - <a href="~/" class="fw-bold text-white">ICMR India</a>
            </div>
        </div>
    </div>
</footer>





















